apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: proxy-truenas
    namespace: external-apps
spec:
    interval: 15m
    chart:
        spec:
            chart: external-service
            version: 16.14.11
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: proxy-truenas
    values:
        ingress:
            main:
                enabled: true
                ingressClassName: internal
                hosts:
                    - host: truenas.${DOMAIN_0}
                      paths:
                        - path: /
                          pathType: Prefix
                integrations:
                    homepage:
                        description: "TrueNAS web interface"
                        enabled: true
                        group: Storage
                        icon: "truenas"
                        name: "TrueNAS"
                        widget:
                            enabled: true
                            customkv:
                                - key: key
                                  value: ${TRUENAS_HOMEPAGE_KEY}
                                - key: url
                                  value: "http://${TRUENAS_IP}"
                                - key: enablePools
                                  value: "true"
                                - key: type
                                  value: "truenas"

        service:
            main:
                enabled: true
                type: ExternalIP
                externalIP: ${TRUENAS_IP}
                useSlice: false
                ports:
                    main:
                        enabled: true
                        protocol: http
                        port: 80

