apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: proxy-truenas
    namespace: external-apps
spec:
    interval: 15m
    chart:
        spec:
            chart: external-service
            version: 16.14.17
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: proxy-truenas
    values:
        ingress:
            main:
                enabled: true
                ingressClassName: internal
                hosts:
                    - host: truenas.${DOMAIN_0}
                      paths:
                        - path: /
                          pathType: Prefix
                integrations:
                    homepage:
                        enabled: true
                        group: Storage
                        icon: truenas
                        name: TrueNAS
                        description: TrueNAS web interface
                        url: http://${TRUENAS_IP}
                        widget:
                            type: truenas
                            enabled: false
                            url: http://${TRUENAS_IP}
                            key: ${TRUENAS_HOMEPAGE_KEY}
                            enablePools: true

        service:
            main:
                enabled: true
                type: ExternalIP
                externalIP: ${TRUENAS_IP}
                useSlice: false
                ports:
                    main:
                        enabled: true
                        protocol: http
                        port: 80

