apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: plex-auto-languages
    namespace: plex-auto-languages
spec:
    interval: 15m
    chart:
        spec:
            chart: plex-auto-languages
            version: 11.13.6
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: plex-auto-languages
    values:
        workload:
            main:
                podSpec:
                    containers:
                        main:
                            env:
                                PLEX_TOKEN: ${PLEX_AL_PLEX_TOKEN}
                                PLEX_URL: ${PLEX_AL_PLEX_URL}
        persistence:
            config:
                size: 10Gi

