apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: pgadmin
    namespace: media
spec:
    interval: 15m
    chart:
        spec:
            chart: pgadmin
            version: 19.19.2
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: pgadmin
    values:
      ingress:
          main:
              enabled: true
              ingressClassName: internal
              hosts:
                  - host: pgadmin.${DOMAIN_0}
                    paths:
                      - path: /
                        pathType: Prefix
      workload:
        main:
          podSpec:
            containers:
              main:
                env:
                  PGADMIN_DEFAULT_EMAIL: ${DOMAIN_0_EMAIL}
                  PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}