apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: minio
    namespace: minio
spec:
    interval: 15m
    chart:
        spec:
            chart: minio
            version: 16.13.1
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: minio
    values:
      global:
        stopAll: false
      ingress:
          main:
              enabled: true
              ingressClassName: internal
              hosts:
                  - host: minio.${DOMAIN_0}
                    paths:
                      - path: /
                        pathType: Prefix
          api:
              enabled: true
              hosts:
                  - host: api-minio.${DOMAIN_0}
      persistence:
        config:
          enabled: true
          path: ${MINIO_DATA_PATH}
          mountPath: "/data"
          server: ${TRUENAS_IP}
          type: nfs
      workload:
        main:
          podSpec:
            containers:
              main:
                env:
                  MINIO_ROOT_USER: ${MINIO_ROOT_USER}
                  MINIO_BROWSER_REDIRECT_URL: https://minio.${DOMAIN_0}
                  MINIO_SERVER_URL: ""
                  MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
                  #MINIO_IDENTITY_OPENID_CONFIG_URL: 'https://auth.${DOMAIN_0}/.well-known/openid-configuration'
                  #MINIO_IDENTITY_OPENID_CLIENT_ID: 'minio'
                  #MINIO_IDENTITY_OPENID_CLIENT_SECRET: ${OIDC_MINIO_INSECURE_SECRET}
                  #MINIO_IDENTITY_OPENID_DISPLAY_NAME: 'Authelia'
                  #MINIO_IDENTITY_OPENID_CLAIM_USERINFO: 'on'
                  #MINIO_IDENTITY_OPENID_CLAIM_NAME: 'groups'
                  #MINIO_IDENTITY_OPENID_SCOPES: 'openid,profile,email,groups'
                  ##MINIO_IDENTITY_OPENID_REDIRECT_URI: 'https://minio.auth.${DOMAIN_0}/oauth_callback'
                  #MINIO_IDENTITY_OPENID_REDIRECT_URI_DYNAMIC: 'off'