apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: muse
    namespace: muse
spec:
    interval: 15m
    chart:
        spec:
            chart: muse
            version: 8.14.1
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: muse
    values:
      image:
        repository: ghcr.io/museofficial/muse
        tag: pr-1287
      global:
        stopAll: false
      muse:
        discord:
          token: ${DISCORD_TOKEN}
        spotify:
          client:
            id: ${SPOTIFY_CLIENT_ID}
            secret: ${SPOTIFY_SECRIT}
        youtube:
          key: ${YOUTUBE_API_KEY}
        bot: 
          status: "online"
          activity:
            type: "Spielt"
            detail: "Mol isch en musigg bot"
            url: "destiny.gg/bigscreen"
      resources:
        limits:
          cpu: 4
          memory: 16Gi