apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: flood
    namespace: media
spec:
    interval: 15m
    chart:
        spec:
            chart: flood
            version: 16.16.1
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: flood
    values:
        ingress:
            main:
                enabled: true
                ingressClassName: internal
                hosts:
                    - host: flood.${DOMAIN_0}
                      path:  /
                      pathType: Prefix