apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: proxy-homeassistant
    namespace: external-apps
spec:
    interval: 15m
    chart:
        spec:
            chart: external-service
            version: 16.14.14
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: proxy-homeassistant
    values:
        ingress:
            main:
                enabled: true
                ingressClassName: external
                hosts:
                    - host: ha.${DOMAIN_0}
                      paths:
                        - path: /
                          pathType: Prefix
                integrations:
                    homepage:
                        description: Home Automation
                        enabled: true
                        group: Other
                        icon: home-assistant.png
                        name: Home Assistant
                        widget:
                            custom:
                                key: ""
                            enabled: false

        service:
            main:
                enabled: true
                type: ExternalIP
                externalIP: ${RASPBERRYPI_IP}
                useSlice: false
                ports:
                    main:
                        enabled: true
                        protocol: http
                        port: 8123

