apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: upsnap
    namespace: upsnap
spec:
    interval: 15m
    chart:
        spec:
            chart: app-template
            version: 15.29.54
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: upsnap
    values:
        image:
            repository: ghcr.io/seriousm4x/upsnap
            tag: latest
        credentials:
            s3:
                accessKey: ${BACKUP_S3_ACCESS_KEY}
                bucket: ${BACKUP_S3_BUCKET}
                encrKey: ${BACKUP_RESTIC_PASSWORD}
                secretKey: ${BACKUP_S3_SECRET_KEY}
                type: s3
                url: ${BACKUP_S3_ENDPOINT}
        ingress:
            main:
                enabled: true
                ingressClassName: internal
                hosts:
                    - host: up.${DOMAIN_0}
                      paths:
                        - path: /
                          pathType: Prefix
                integrations:
                    homepage:
                        description: A simple wake on lan web app written with SvelteKit, Go and PocketBase.
                        enabled: true
                        group: Networking
                        icon: upsnap.png
                        name: UpSnap
                        widget:
                            custom:
                                key: ""
                            enabled: false
        podOptions:
            hostNetwork: true
        securityContext:
            container:
                PUID: 568
                UMASK: "0022"
                privileged: true
                advanced: true
                readOnlyRootFilesytem: false
                runAsUser: 0
                runAsGroup: 0
            pod:
                fsGroupChangePolicy: OnRootMismatch
        service:
            main:
                enabled: true
                ports:
                    main:
                        enabled: true
                        port: 9790
                        protocol: http
                        targetPort: 8090
                type: ClusterIP
        persistence:
            data:
                enabled: true
                mountPath: "/app/pb_data"
                readOnly: false
                type: pvc
                volsync:
                    - credentials: s3
                      type: restic
                      name: config
                      dest:
                        enabled: true
                      src:
                        enabled: true
                        trigger:
                          schedule: 45 0 * * *