apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: tailscale
    namespace: tailscale
spec:
    interval: 15m
    chart:
        spec:
            chart: tailscale
            version: 11.19.1
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: tailscale
    values:
        global:
            stopAll: false
        tailscale:
            authkey: ${TAILSCALE_AUTHKEY}
            routes: ${SUBNET}
            advertise_as_exit_node: true
            accept_dns: false