apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: tracearr
    namespace: tracearr
spec:
    interval: 15m
    chart:
        spec:
            chart: tracearr
            version: 1.0.8
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: tracearr
    values:
        credentials:
            s3:
                accessKey: ${BACKUP_S3_ACCESS_KEY}
                bucket: ${BACKUP_S3_BUCKET}
                encrKey: ${BACKUP_RESTIC_PASSWORD}
                secretKey: ${BACKUP_S3_SECRET_KEY}
                type: s3
                url: ${BACKUP_S3_ENDPOINT}
        global:
            stopAll: false
        ingress:
            main:
                enabled: true
                ingressClassName: internal
                hosts:
                    - host: tracearr.${DOMAIN_0}
                      paths:
                        - path: /
                          pathType: Prefix
        cnpg:
            main:
                password: ${CNPG_PASSWORD}
                mode: recovery
                backups:
                    enabled: true
                    credentials: s3
                    revision: "1"
                recovery:
                    credentials: s3
                    revision: "1"