apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: proxy-pihole
    namespace: external-apps
spec:
    interval: 15m
    chart:
        spec:
            chart: external-service
            version: 16.14.10
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: proxy-pihole
    values:
        ingress:
            main:
                enabled: true
                ingressClassName: internal
                annotations:
                    nginx.ingress.kubernetes.io/auth-method: 'GET'
                    nginx.ingress.kubernetes.io/auth-url: 'http://authelia.authelia.svc.cluster.local:9091/api/verify'
                    nginx.ingress.kubernetes.io/auth-signin: 'https://auth.${DOMAIN_0}?rm=$request_method'
                    nginx.ingress.kubernetes.io/auth-response-headers: 'Remote-User,Remote-Name,Remote-Groups,Remote-Email'
                    nginx.ingress.kubernetes.io/auth-snippet: |
                        if ($request_uri ~ ^/api/) {
                          return 204;
                        }
                    nginx.ingress.kubernetes.io/configuration-snippet: |
                        # Redirect the root path to /admin permanently
                        if ($request_uri = "/") {
                            return 301 /admin;
                        }

                hosts:
                    - host: pihole.${DOMAIN_0}
                      paths:
                        - path: /
                          pathType: Prefix
        service:
            main:
                enabled: true
                type: ExternalIP
                externalIP: ${RASPBERRYPI_IP}
                useSlice: false
                ports:
                    main:
                        enabled: true
                        protocol: http
                        port: 80

