apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: ollama
    namespace: ollama
spec:
    interval: 15m
    chart:
        spec:
            chart: ollama
            version: 8.19.2
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: ollama
    values:
        ingress:
            ui:
                enabled: true
                primary: true
                hosts:
                    - host:  ollama.${DOMAIN_0}
                      paths:
                        - path: /
                          pathType: Prefix
        workload:
            main:
                podSpec:
                    containers:
                        main:
                            resources:
                                limits:
                                    memory: 48Gi
