apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: syncthing
    namespace: syncthing
spec:
    interval: 15m
    chart:
        spec:
            chart: syncthing
            version: 22.11.11
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: syncthing
    values:
        credentials:
            s3:
                accessKey: ${BACKUP_S3_ACCESS_KEY}
                bucket: ${BACKUP_S3_BUCKET}
                encrKey: ${BACKUP_RESTIC_PASSWORD}
                secretKey: ${BACKUP_S3_SECRET_KEY}
                type: s3
                url: ${BACKUP_S3_ENDPOINT}
        ingress:
            main:
                enabled: true
                ingressClassName: external
                hosts:
                    - host: sync.${DOMAIN_0}
                      paths:
                        - path: /
                          pathType: Prefix
        persistence:
            config:
                 volsync:
                    - name: config
                      type: restic
                      credentials: s3
                      dest:
                        enabled: true
                      src:
                        enabled: true
                        trigger:
                          schedule: 10 0 * * *
            media:
                enabled: true
                mountPath: /data
                path: ${DEFAULT_STORAGE_PATH}/Syncthing
                server: ${TRUENAS_IP}
                type: nfs