apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: syncthing
    namespace: syncthing
spec:
    interval: 15m
    chart:
        spec:
            chart: syncthing
            version: 22.7.0
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: syncthing
    values:
        ingress:
            main:
                enabled: true
                ingressClassName: external
                hosts:
                    - host: sync.${DOMAIN_0}
                      paths:
                        - path: /
                          pathType: Prefix
        persistence:
            media:
                enabled: true
                mountPath: /data
                path: ${DEFAULT_STORAGE_PATH}/Syncthing
                server: ${TRUENAS_IP}
                type: nfs