apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: jellyfin
    namespace: media
spec:
    interval: 15m
    chart:
        spec:
            chart: jellyfin
            version: 22.2.28
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: jellyfin
    values:
        global:
            stopAll: false
        credentials:
            s3:
                accessKey: ${BACKUP_S3_ACCESS_KEY}
                bucket: ${BACKUP_S3_BUCKET}
                encrKey: ${BACKUP_RESTIC_PASSWORD}
                secretKey: ${BACKUP_S3_SECRET_KEY}
                type: s3
                url: ${BACKUP_S3_ENDPOINT}
        ingress:
            main:
                enabled: true
                ingressClassName: internal
                hosts:
                    - host: jelly.${DOMAIN_0}
                      paths:
                        - path: /
                          pathType: Prefix
                integrations:
                    homepage:
                        description: ""
                        enabled: true
                        group: Media Player
                        icon: ""
                        name: ""
                        widget:
                            custom:
                                key: ${JELLYFIN_HOMEPAGE_KEY}
                            enabled: true
        persistence:
            config:
                mountPath: /config
                volsync:
                    - credentials: s3
                      type: restic
                      name: config
                      dest:
                        enabled: true
                      src:
                        enabled: true
                        trigger:
                          schedule: 0 1 * * *
            data:
                mountPath: /data
                volsync:
                    - credentials: s3
                      type: restic
                      name: config
                      dest:
                        enabled: true
                        cacheCapacity: 20Gi
                      src:
                        enabled: true
                        cacheCapacity: 20Gi
                        trigger:
                          schedule: 0 1 * * *
            media:
                enabled: true
                existingClaim: nfs-media-pvc
                mountPath: "/media"
        addons:
            codeserver:
                enabled: false
                ingress:
                    enabled: true
                    hosts:
                      - host: jellyfin-codeserver.${DOMAIN_0}