apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: scrutiny
    namespace: scrutiny
spec:
    interval: 15m
    chart:
        spec:
            chart: scrutiny
            version: 13.13.1
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: scrutiny
    values:
      global:
        stopAll: false
      ingress:
          main:
              enabled: true
              ingressClassName: internal
              hosts:
                  - host: scrutiny.${DOMAIN_0}
                    paths:
                      - path: /
                        pathType: Prefix
      persistence:
        config: