apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: tdarr-node
    namespace: tdarr-node
spec:
    interval: 15m
    chart:
        spec:
            chart: tdarr-node
            version: 12.25.6
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: tdarr-node
    values:
        TZ: Europe/Zurich
        persistence:
            media:
                enabled: true
                path: ${DEFAULT_STORAGE_PATH}
                server: ${TRUENAS_IP}
                type: nfs
        workload:
            main:
                podSpec:
                    containers:
                        main:
                            env:
                                # User Defined
                                nodeID: "TalosTdarrNode"
                                serverIP: "tdarr-comm.tdarr.svc.cluster.local"
                                serverPort: 8266      
                            resources:
                                limits:
                                    memory: 48Gi
        resources:
            requests:
                cpu: 10m
                memory: 50Mi
            limits:
                cpu: 4
                memory: 24Gi
