apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: komga
    namespace: media
spec:
    interval: 15m
    chart:
        spec:
            chart: komga
            version: 16.14.6
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: komga
    values:
        credentials:
            s3:
                accessKey: ${BACKUP_S3_ACCESS_KEY}
                bucket: ${BACKUP_S3_BUCKET}
                encrKey: ${BACKUP_RESTIC_PASSWORD}
                secretKey: ${BACKUP_S3_SECRET_KEY}
                type: s3
                url: ${BACKUP_S3_ENDPOINT}
        ingress:
            main:
                enabled: true
                ingressClassName: internal
                hosts:
                    - host: komga.${DOMAIN_0}
                      paths:
                        - path: /
                          pathType: Prefix
                integrations:
                    homepage:
                        description: ""
                        enabled: true
                        group: Media Player
                        icon: ""
                        name: ""
                        widget:
                            custom:
                                key: ""
                            customkv:
                                - key: username
                                  value: ${DOMAIN_0_EMAIL}
                                - key: password
                                  value: ${KOMGA_PASSWORD}
                            enabled: true
        persistence:
            config:
                volsync:
                    - credentials: s3
                      type: restic
                      name: config
                      dest:
                        enabled: true
                      src:
                        enabled: true
                        trigger:
                          schedule: 15 0 * * *
            data:
                volsync:
                    - credentials: s3
                      type: restic
                      name: config
                      dest:
                        enabled: true
                      src:
                        enabled: true
                        trigger:
                          schedule: 15 0 * * *
            media:
                enabled: true
                existingClaim: nfs-media-pvc
                mountPath: "/media"

        workload:
          main:
            podSpec:
              containers:
                main:
                  env:
                    KOMGA_OAUTH2_ACCOUNT_CREATION: true

                    SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_AUTHELIA_CLIENT_ID: komga
                    SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_AUTHELIA_CLIENT_SECRET: ${OIDC_KOMGA_INSECURE_SECRET}
                    SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_AUTHELIA_CLIENT_NAME: "Authelia"
                    SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_AUTHELIA_SCOPE: "openid,profile,email"
                    SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_AUTHELIA_AUTHORIZATION_GRANT_TYPE: "authorization_code"
                    SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_AUTHELIA_REDIRECT_URI: "{baseScheme}://{baseHost}{basePort}{basePath}/login/oauth2/code/authelia"

                    SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_AUTHELIA_ISSUER_URI: "https://auth.${DOMAIN_0}"
                    SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_AUTHELIA_USER_NAME_ATTRIBUTE: "preferred_username"

        #komga:
        #  spring:
        #    security:
        #      oauth2:
        #        client:
        #          registration:
        #            authelia:  # Match this to the provider name below
        #              provider: authelia  # This must match the provider configuration below
        #              client-id: komga  
        #              client-secret: ${OIDC_KOMGA_INSECURE_SECRET}  
        #              client-name: Authelia  
        #              scope: openid,profile,email 
        #              authorization-grant-type: authorization_code
        #              # The placeholders will be replaced automatically
        #              redirect-uri: "{baseUrl}/{action}/oauth2/code/{registrationId}"
        #  
        #        provider:
        #          authelia:  # This must match the provider name above
        #            user-name-attribute: preferred_username  # The attribute you want to use from the token
        #            issuer-uri: https://auth.${DOMAIN_0}  