apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: actualserver
    namespace: actualserver
spec:
    interval: 15m
    chart:
        spec:
            chart: actualserver
            version: 15.1.2
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: actualserver
    values:
        credentials:
            s3:
                accessKey: ${BACKUP_S3_ACCESS_KEY}
                bucket: ${BACKUP_S3_BUCKET}
                encrKey: ${BACKUP_RESTIC_PASSWORD}
                secretKey: ${BACKUP_S3_SECRET_KEY}
                type: s3
                url: ${BACKUP_S3_ENDPOINT}
        ingress:
            main:
                enabled: true
                ingressClassName: internal
                hosts:
                    - host: actual.${DOMAIN_0}
                      paths:
                        - path: /
                          pathType: Prefix
                integrations:
                    homepage:
                        description: ""
                        enabled: true
                        group: Finance
                        icon: ""
                        name: ""
                        widget:
                            custom:
                                key: ""
                            enabled: false
        persistence:
            data:
                volsync:
                    - credentials: s3
                      type: restic
                      name: config
                      dest:
                        enabled: true
                      src:
                        enabled: true
                        trigger:
                          schedule: 5 0 * * *
        workload:
          main:
            podSpec:
              containers:
                main:
                  env:
                    ACTUAL_OPENID_DISCOVERY_URL: "https://auth.${DOMAIN_0}/.well-known/openid-configuration"
                    ACTUAL_OPENID_CLIENT_ID: actual-budget
                    ACTUAL_OPENID_CLIENT_SECRET: ${OIDC_ACTUAL_INSECURE_SECRET}
                    ACTUAL_OPENID_CLIENT_SERVER_HOSTNAME: "https://actual.${DOMAIN_0}"
