apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: actual-http-api
    namespace: actual-http-api
spec:
    interval: 15m
    chart:
        spec:
            chart: app-template
            version: 15.29.73
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: actual-http-api
    values:
        image:
            repository: jhonderson/actual-http-api
            tag: 26.1.0
        ingress:
            main:
                enabled: true
                ingressClassName: internal
                hosts:
                    - host: actual-http-api.${DOMAIN_0}
                      paths:
                        - path: /
                          pathType: Prefix
        service:
            main:
                enabled: true
                ports:
                    main:
                        enabled: true
                        port: 5007
                        protocol: http
                        targetPort: 5007
                type: ClusterIP
        persistence:
            data:
                mountPath: "/data"
                enabled: true
                readOnly: false
        workload:
            main:
                podSpec:
                    containers:
                        main:
                            env:
                                ACTUAL_SERVER_PASSWORD: "${ACTUAL_SERVER_PASSWORD}"
                                ACTUAL_SERVER_URL: "${ACTUAL_SERVER_URL}"
                                API_KEY: "${ACTUAL_API_KEY}"
