apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: shoko
    namespace: media
spec:
    interval: 15m
    chart:
        spec:
            chart: shoko-server
            version: 13.13.2
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: shoko
    values:
        global:
            stopAll: false
        credentials:
            minio:
                accessKey: ${MINIO_ACCESSKEY}
                bucket: ${MINIO_BUCKET}
                encrKey: ${MINIO_ENCRKEY}
                secretKey: ${MINIO_SECRETKEY}
                type: s3
                url: ${MINIO_URL}
        ingress:
            main:
                enabled: true
                ingressClassName: internal
                hosts:
                    - host: shoko.${DOMAIN_0}
                      paths:
                        - path: /
                          pathType: Prefix
        persistence:
            appdata:
                enabled: true
                #volsync:
                #    - credentials: minio
                #      type: restic
                #      name: config
                #      dest:
                #        enabled: false
                #      src:
                #        enabled: false
                #        trigger:
                #          schedule: 55 0 * * *
            media:
                enabled: true
                existingClaim: nfs-media-pvc
                mountPath: "/media"
        addons:
            codeserver:
                enabled: true
                ingress:
                    enabled: true
                    hosts:
                        - host: shoko-codeserver.${DOMAIN_0}
                          paths:
                            - path: /
                              pathType: Prefix
        resources:
            limits:
                memory: 12Gi