apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: shoko
    namespace: media
spec:
    interval: 15m
    chart:
        spec:
            chart: shoko-server
            version: 13.14.11
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: shoko
    values:
        global:
            stopAll: false
        credentials:
            s3:
                accessKey: ${BACKUP_S3_ACCESS_KEY}
                bucket: ${BACKUP_S3_BUCKET}
                encrKey: ${BACKUP_RESTIC_PASSWORD}
                secretKey: ${BACKUP_S3_SECRET_KEY}
                type: s3
                url: ${BACKUP_S3_ENDPOINT}
        ingress:
            main:
                enabled: true
                ingressClassName: internal
                hosts:
                    - host: shoko.${DOMAIN_0}
                      paths:
                        - path: /
                          pathType: Prefix
                integrations:
                    homepage:
                        description: "Shoko Server is a personal anime media server and collection manager"
                        enabled: true
                        group: Media Management
                        icon: "shokoanime"
                        name: "Shoko"
                        widget:
                            enabled: false
        persistence:
            appdata:
                enabled: true
                volsync:
                    - credentials: s3
                      type: restic
                      name: config
                      dest:
                        enabled: false
                      src:
                        enabled: true
                        trigger:
                          schedule: 55 0 * * *
            media:
                enabled: true
                existingClaim: nfs-media-pvc
                mountPath: "/media"