apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token-secret
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:3AcWCLzfSXKfJcow7+3klBkKPjbAlqjuQ0mZPppExrW6Z7E5LlTNIA==,iv:+NpsLjxZHwjWSs0cJnHYDr1nZvJCNkyGrdtZ/t8cM+8=,tag:JwWmj4iC9D2pHkgY26CP5g==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1cn79agmdffpagt5de9zg6l4zj64z7evgu86yq8u84r90rndnvpzsnesh46
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSArTkM1RjN0RjFaMTBHMzBY
            M2gydldVS29RZnBpUFVhelg3ZThaam5tVjM0CmFpNWd3eG0zUHJnTFB5QlRSK0xW
            YmNCSEZzTlZIY3dIZjlGVU51b0JKQ1UKLS0tIG56dnVzNFl3YVdvUGp3SmpxQ1N4
            WEJLeFF2OVBSNCtnR09OczdTRHhiaWMKEghUbGOleV9EeYS6L412cI6RyhJK7qHH
            vXUDsCPm/Tq2E78UUJtMlTRWjqeCDUlf5AcmRrVjT7Tlud9J8g5rjw==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-19T07:40:59Z"
    mac: ENC[AES256_GCM,data:iA5iIm6xFa+0tTDtEJTT+qf7dypHJGIMgU2wL64aK07ri3VXwmk87rFgCchNsbeaWxgdxxkRq/onXZDGPL6zFofPj28GnCQdLAF1SKD11Mqq3gbl66yEpr72m6BTA0KcjI3e8q1hr8PeUSUwJGYqzftfwurdA9dmBwfqix6heyw=,iv:i7K6XlXKRmhjO/19KBxJYRWHSXu+crfP5+g/V5kQVK0=,tag:7wo9B4fWkHCCP76HM5HZNA==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
