apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token-secret
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:CDU/jsDYtWGMfR5V659UpY2sQM3ck/6QKAlTwOMsD34BryrlLReH6g==,iv:0YM4AGK5NKZEsKFnVV6Vh1e7/grDHmjNBQ7VyfJzgBw=,tag:U5SLqQ82fTbS1W2cIMoLng==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1cn79agmdffpagt5de9zg6l4zj64z7evgu86yq8u84r90rndnvpzsnesh46
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBGbDFLQUFHS0JBbDN3WW45
            MGRIOGVKZnNPMzlialZMOHJuT2tLb0hzTmpzClA4VVNhYlMyV2RiYVR0eURFZ0Jy
            LzEyaW1ZQ3dVazJIYzdMMFZITVc2SzgKLS0tIDlFY1UvbGRmSFhUZ2I1dCtXNE1r
            Mi9sYU9mQ2J3VHVFbGVZY2J1clVLVFkKXevFZtp4PsCKh4RO3Q9i0IxSDMyoZpuC
            aXQ+4f23ptVRg4LkNJAfqTGlkCCCyIyL+5WeMBgJr5hGS9ujuywZqA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-17T23:15:24Z"
    mac: ENC[AES256_GCM,data:T3YJFS2MAdcotLMcIr2UnzDbu1iPaR4P5YaSfk9yJBwhugyxcUMbBBsHLN/iKmy1hPQlRJYWbFXQ1vji5PkyFJXhSj6jyDcxCKM6CbI5sigTMx0wqmpO/jKSbHrIcfWCRwpIfWMkxtU3f4uaNl9ZPmnQv14PjTJPzMNr7dEKQGQ=,iv:Ziwim//qIO/XeIDX47PLPHL2z6UcTkYnHgv/uVSFWz8=,tag:41fe7OXLdo8BOdGzGLLwYA==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
