apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token-secret
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:kNplrEWhNJaBIE28IsHVD+we3DTZvVPej5Hd7Z7FBZadxWxBmyydDg==,iv:f55Ny36vvHCW12Qex3vDA6Lm1qcwveEgoXhd0TVpMSc=,tag:RONK2VrPhThyCl18NM5ILw==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1cn79agmdffpagt5de9zg6l4zj64z7evgu86yq8u84r90rndnvpzsnesh46
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB3Z092N0lBcEhaSnhUQ3RD
            dTlNZ1ptbEY0Ny84dWxNeVZiTmxjVGJSclRVClU4V2dKVlR6YlhIRGtZc0JOZ016
            ZjQ3QlRVVEJLcTYzTDZQeVZyMlZ5ZTQKLS0tIEM4eDBpSVo4Qk9hQU1IUWVMY1N0
            cVZDNVVvR29ocjVtNjdPUjlJQkorV1EKW3OjIKtsNWZaWVbYaa0NepW6r8gaZZQ8
            wCC3/VOTNNLvEi+xj3VjObdlXqZrJ3D5QY+uuYVbkXhm2J30MoSu0g==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-25T22:27:32Z"
    mac: ENC[AES256_GCM,data:j2ZbeubCKbSqQoOChkJbYSflhnjGorEWSEVLf1vntlNk91bq2kt6runTEs21GZUuItf6VkV4+KEW+HS5fs1lk/Ld5secgl35ZJfyLH2GhOXx8TAClBZS9aR4EnWzQr+EltVuojLmGU21lvMuIUzZjUPFsuHyt5QcEMSi8Qo78kw=,iv:kBnRka9YiPRYjPZoWTp/Qm+YQEu9PdKiG8FRvNgE9iA=,tag:RMxuT36I9kutqcBs/vLmlA==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
