apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token-secret
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:rrs4Gpaf4kWXh2ED7lWLyi9JFekx4UJh9Z/+ZBNqfIEwGFza0f9msw==,iv:WTRUyOWPo4fscJ3eHWT/h3OZhpS/FhOWzMBSQgz/TZI=,tag:NPzfbUJj4kIuRmUR37uJiQ==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1cn79agmdffpagt5de9zg6l4zj64z7evgu86yq8u84r90rndnvpzsnesh46
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBCZXI4dFh1UjVLU0YwMUJj
            VkJITXhxQVFmbHI2Q1JkajFWYmJ3cElUalQ4CmUxQnh0TFdvV1VLaHVqZGpSZ1cy
            SU42MVlQVGxWYjZldlhMd2JWbVlMQkUKLS0tIHd2aXFGcnk2enRsdTZUdnhDMWdG
            N0hVczR1Ry95S2NmSTdDUUM0NHJHSEUKcNdiCTxMqQeR/AmMI747SwokdYxBDbxj
            Vt1/tdfDoQMRXOPkx2h1gtzQ+TufBwsW/mOLPHCmsAppHzanuitdaw==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-24T10:46:07Z"
    mac: ENC[AES256_GCM,data:ZYBTxBE4LUrPPtQBvdV68kRv2QeRhfiGqYhs077QhtSjPexM9OlocYlqYLU9QpD8rTV1NO+40EDTnI1svbzTZ+pY1SXiiaOaUndbJfhWLOckQSQxcUcmtYEjZ8kxzQD0fcFuuJ0cyBYec1m2aNQN2yKU+8JrK1pybZ74/+6riRg=,iv:5QyYdf/XDbaKUAAHMB5UXcxjj+/CMMBn8BvaNseJ87g=,tag:21JA7yFigY8D3qJ6BubR5w==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
