apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token-secret
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:m1obGVjTDG9lQOi3XVAvaY44bJXpc+BQoGJS2dTweMTUS9siOXfypw==,iv:G2zHZyfD2EMzbGYUDXTdAtxjO2k4Z1EaUatLmdUXjzk=,tag:+JQ0C66uT6Uzz1+/8VA4Lw==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1cn79agmdffpagt5de9zg6l4zj64z7evgu86yq8u84r90rndnvpzsnesh46
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSAvcG01UHJDc1FyTHJSUnE0
            Q2tGa0NpclJKdVUxTVZ5T1FXQlNSbUI3Q3dJCkl3Z3k0Uk9KSXlzV0hwKzBkWHov
            QXZXeE9FWlhhQ0duV3ZBTGIvTHE4UEkKLS0tIGNKdWpZZy9kYzE2VmRWd1FDL2xa
            OVFLWU5tNEVxeVlyV2liakRjNzFIZG8K+k6tWg7Q0aqFzVzLyXIBplMkGEY8MXJI
            CwUOrJF5fkLO6i/K4TRfioTppdyVGFrPfISLjm1dGbpKxtQyqzYNYg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-02-07T11:17:06Z"
    mac: ENC[AES256_GCM,data:6omAzYefo7XPvfTah+M+sUILmvUwPoIqa443NvDcqzSEPIlPtJHk1p/OneTuKYtnyVLWDFr7SW8LMwde9D6m7eIkjBHGmFQt3SAjCj2YUEHOP7oY2oKxq4VBRGePQW8kCKU9+G/qQCkQ5C+HHA9o1H9uSXVtHBAroQzNYmw48vU=,iv:+ZE7WsVp4xBA9/Z7NEdsX3Ke2cLj5KnIzII2asIoc1w=,tag:VjTFwPCVxkxLaqLPq8sNQA==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.11.0
