apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token-secret
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:poWeVA9h2ISxqBTN/MB+eqlIX4V0VERGDpYgTLkB6NPWWHu7zacTXg==,iv:4IcReQwup4jLMYhoYb++6Iw/p1TF0Czd6E1XFLB0eQA=,tag:c3fvDvW+wrVOJ+twgoieIQ==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1cn79agmdffpagt5de9zg6l4zj64z7evgu86yq8u84r90rndnvpzsnesh46
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBtT3lsb09sMTBvKy9MVVlN
            b0RaOHNRSzlmR1R1bkdRNVVMbkU2OXV3MXhRCkg1eFhkd2tBTSs4QnpFWjUxMWF0
            d0E1eDREYUxncWV2L3V3K080c2R5MjgKLS0tIGZvRFNzSURDcUZxSEJ0b0xkK2pi
            SXNES3JIZDBtdDJXT2hjays4YmxKUjgKEmu7wsZV8GJpV1z/lQr1NlLQn14AmMwb
            oj7gfqyXrgoJyg7lKHnNojGBon700EOHvcHwEjHSPxLreXCdkfstvg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-19T19:48:45Z"
    mac: ENC[AES256_GCM,data:XhI8xAAW96HwZ2CgdwNRa0jvV9z5sJ/B2KSc8ZWT8cbryIAiF2HD+wlTEn3IXA8g7PlXOSNREywqDAjUvnE8ZOe0WDTGIQSg0p1vuLPRkU4fJq6YqdzHwJ2CV3Jz8Uc4ufZp8jFnhI0nP9+EvU0xXH8sCT0jizvXdEujDrDjXzg=,iv:KNpqZtebW+qYoH0CZ8ZbKbuxj0hUONtOPckR+yI/75s=,tag:buMs00N4rXzJEkReKX1ScQ==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
