apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token-secret
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:1DgtLOxzId7N/ppNxycYVVDIOdEviDf2gMlxHHmYQ2UFqH2z0PqdGg==,iv:qZqAvHE3xpFXsAeI/RdVAiGxQ3mY4VbbY5bEw9gn6TU=,tag:/L7XmDqxTEJH3s7y/nFYOw==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1cn79agmdffpagt5de9zg6l4zj64z7evgu86yq8u84r90rndnvpzsnesh46
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBnak1GUTB3N0laVmdSZEk2
            UlA3WW10L256QnRVbVMrdERDU3R1aCtCVEQ0ClJuUENyUy8raXJUb3JaRmpFaXcz
            eU1weDRiNkEraUpCanRqQXZoZWpIcFEKLS0tIG1kWk5aeUFKSTVSeXVBZE4vQXlL
            Tkx1NjVUWkdZT1NPVFpXblJZSkNTMzQK3QBqdFaTej3q+2p4X1futM+dQ5sRvMRV
            MtwhzvWHLxt8lmUq43K7q6m8LrxI0Ab6xN8OsgSWGAn3KGaarZpo7w==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-18T09:59:35Z"
    mac: ENC[AES256_GCM,data:JrlWhy7V9G+4kqGpzjqumeFjOLb7u7bIAwpJ/7x904AG52JYNMkVxdpxHDHEZ1CAOw0wjC2hKKbp+b6dSFN+0u2taK2iVRBdVx7L+m6GaQgdUOKJ42TIblF+SaYYqK0xULndXzAF8ZmGli8XaTeK5SB2Xq4Gd11/cuzZTdMrwDI=,iv:1MC9wTDE9yDo0kU1grlkSOo5NEst/T19XDmnKHcZdtg=,tag:WxY5QmPzp9UxHHqpaX+Apg==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
