apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token-secret
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:EpN9gLHjtBOa2X1E4dxczP3BHskCs2oUdQqpOn3tQkiIWYV9MD+0ug==,iv:L0jLhp55SnCjPlgdEUIKRPsEhe++SrOCXVCBfJ2tMkE=,tag:va3kcml6oHptYPdwwDCMZg==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1cn79agmdffpagt5de9zg6l4zj64z7evgu86yq8u84r90rndnvpzsnesh46
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBSTjVEa2JwK1RpVU5TbGlU
            UUdTcFFjaENEQytPT1drTDdYb2JrUDZBeEVjCkluc0Rtd2FYMExKVXJHU2xZTVZU
            enFuNmhWTnBwczhibUhDVlZWZFVtQ3MKLS0tIExIcjFEWkgwZDltVzVNQkI3Uk1t
            U1ZVclhERjQwQmsrcnBMYUoyVWVFYTgKt5dVuflMNWYbt2E2YgIrPUquBqKCU85z
            WeQS2hhz3nLCf1XRJ2CPritPyVsOPTlr6z8uvvafl9VJT9dh8ddA8g==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-23T16:41:47Z"
    mac: ENC[AES256_GCM,data:Lg/rC4Dtqb/MhDqUYYV0moUoPbYjxbfXlnamF17VQnXVO+TbPj4zWDhLaHV49BNybdyHmCj9nFSs7QjGSfB6s0D+/12rRTPuyHMCPPBASQPJmKoTk+Y/fEIcrSi6/P1hGNn9ERH050E+ojdUmuHrKVzCb4x1jnxhJerI7/fXlBw=,iv:VJzKhWJDrQAoptSLfHQQLN88roUAmYysmuRc6jNwgLU=,tag:KF+0RnkiTehIFtfzAkO48A==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
