apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token-secret
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:SEgUME+bIsE+qaV+C1wKD9WEPsxW39qLRBKpHAwxb/uCULSjekeTbw==,iv:xGfX8Xwuf1B7sKYFNEFn9wbM3EQBgNwyu9wXiCFGgys=,tag:MPbPtuUgwtkt8DVKJMz+jQ==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1cn79agmdffpagt5de9zg6l4zj64z7evgu86yq8u84r90rndnvpzsnesh46
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBFV2ZPblFEUGZvSlRtN29y
            MU5MUnRYMnRSbmxyaFBCbjZ1NlRnWm9YeXc4CjBRTko1amQ1VW1WSzMwNUNNSi9K
            Wm1BS2M3UTFYOFpJOTh1anFRVTkzdDAKLS0tIGJtZ1ZxcnVETk9UUW9PL3VzWXh0
            QlZFa2d5OEZyamR1VnZnL0dLOHRZREEKFlMU1fqcsvEw5COqDj9yrkxjSTkGhbFs
            IeO81xAmBzvUOwfzeNE/+5iNGEqvgwN312gGZh7EwwfYzjKaJdVqZg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-17T23:30:34Z"
    mac: ENC[AES256_GCM,data:0/F3rNh0eDRKo51bkxUMgMsqrWc8ifhnJ3RHJviCmKjW0Uy23Q3fqQ9ch0YeVjLiSyzcZTH4bRe6uLUSOnHrdFBnUyEOybJ61hV8pToM5CUtethl3cNsT9YLjnZcybNbmDTlGFYEiDPsafYenyc4j9uMTT89jKQyANe8JzO/Qao=,iv:D6zGtaxuhHaiknuewnLOSbNI43cBSCkzT0J9YhLjZhs=,tag:zuLnqGHppo4Jy/NNe3qc+w==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
