apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token-secret
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:c4yGRT5OlCJfShW0gBvb0PR11iw9+xKmYCUFJBaNyc87pXb77TDGhw==,iv:Nczc9gFnpm/dJ6rp6DFERJf21plXFdhKKBbc/6oFnRI=,tag:Z8SY7UgN+VMC/5OVAsQHhw==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1cn79agmdffpagt5de9zg6l4zj64z7evgu86yq8u84r90rndnvpzsnesh46
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBBTm05WlVIQ0FPdGlWZThN
            MitGOW5zbXpOU0FOUFVMTlRWVFc1dUdyNG1RCndTeUVGKzVzUWdzYnVlOVRyZW1G
            clJObUd5WVNaSzVKQkhxaVFsaThFcDAKLS0tIFkzcWpaTWp0Q3FrYjVJS3Vtd25N
            Zk1LYUZnaHl0dW1YM0tXSmlxT0x4ZTQKunoqt0ZpViJ7uWgysKKcBJv4eeoNTriE
            TvsU7dUlYx6VXFm4UWnSJ0gqHbg4E+eNTvvwXqSq4Rb+8YwXW6ZxBQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-17T22:00:31Z"
    mac: ENC[AES256_GCM,data:zdVtbaChdP7rhsrnlnSvwJWPqOOinwtDKfNvCikOLoDeJwtPG9Rb8Bgy5ZnX5ES8nsXtoXJNsoRJSu6+BN3EQhAuevTnGZ5gjsKEhWFNmAtiA1oRe/Kc41T+20QoHXlTl86n5NxcXYVmGv47QudkwCUkBw7SltHPfxzp/rrxHIE=,iv:WoDFXeu9X8WpNsvLaTf4J9s0aZJrlETEJp1AgQseHvU=,tag:CMHCv8rsrmu9BsNy3d4AQA==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
