apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token-secret
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:94IIJEQCy8oU6K8SXpLvsPOUdTX/rIEevpj3Ikp2qJv8gaTlvVpgBg==,iv:Q22FJmvWyvLuDgqgSjZis5yjFJusWxBKuyopZ/T5tq8=,tag:0f9tecbULvcw8qGt8rEVGA==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1cn79agmdffpagt5de9zg6l4zj64z7evgu86yq8u84r90rndnvpzsnesh46
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSAweFFWdEczS2dIUFZLNWc5
            WUxQS3Budmc3eTZNbEFmcXRWQnUzK3BCK3hrClV3TFQ0bC9PNGlUTVM2cVN0RGM0
            dUZIellWWnVoajY5TGFjK1pjOFRjYWcKLS0tIDhLdkhDTTdrV0VlUHVvWnhWWmVh
            Q1ZkWmdaRUhrUDgraExIenVxSkJWYjgK2YX4TZvazybZoXB7TaHt/SypoGXFmHZO
            5DTyNak4X6KXNhsYeecVRmqNaYNJNhTdTOJrDL6asF/rYn57svlBBA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-24T11:05:49Z"
    mac: ENC[AES256_GCM,data:JvewVOT/cQDR9WA8sPyPLJdmfeTYkZkkcm3r9w/OQRXbEr+YZ2HmPAZScqfI8KO9u92QCCDD3PfFrFnvIMZJcyqIQmzUxI5aqDfvAQMkomcm2zW1iUSnIVApS/w1X1ukUUaG5MwqnWGCZLvdfuQJ2WFTxc3ElW+qyeu/mBDOdeI=,iv:T6CjNqaQ3/Zuz2ofGMjYRi+xvm9h5AkwdCXxPbbiqo8=,tag:IAGB8A7cCaan+n2XARM6AA==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
