apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token-secret
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:YZ9OdfPaYVPNIJldNocsG4MUkZ7wrTM/iiXc3OkEG6BwEldjNYVOsA==,iv:HICcgkG1OhBFar9hEwT0FOllRxrcOYaDdq8TWrThEsA=,tag:oVZ+Ga2s1Fed+skAfJLsYg==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1cn79agmdffpagt5de9zg6l4zj64z7evgu86yq8u84r90rndnvpzsnesh46
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBDK3JxTHZkcW5xeTNLSito
            S0NFSlRhY3RrYW5YeUJZc2I0MDYzNHI3ekNJCnI5eXdJb2hZZnE4MXlNZm42N09R
            RkVSaWt0aVgxK2VSdTBYYnplRXdJc0UKLS0tIENVNWtWMUpYNkVQdU1xSm1VWVBX
            YkR5cnJBckxSSUdBSG01YUJyT2hLTEkKBxlNR86lEAaCYdbqau4+iBAQVTj/zKgr
            p6EizwCpPvVTdRGIZXpXu1xX+Ot1jHXdlNRzW6crh2U4f6tbfoNydQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-02-15T08:46:50Z"
    mac: ENC[AES256_GCM,data:stk2tn9g3yxkz4alTX7J8yCdAHc/ZWXdaq62AFI6VzyfFRLpE19DLmUk/SJUPR2gQb9US6wFhCmFPmWUuq0TFk6y9aS3K0og9bSIC1xoZieTgwrsbAZX2CjZ34Dc+1+yEBJxMkeEs1pf9+DwATnPIBGolhiWxQS3njAU+tPpxzk=,iv:Z0TfRZ/3hEaoO/hNJsglvTTamX01beNW1S60hCPHDhs=,tag:Bd7egZI9nXfZBpDw/CYspg==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.11.0
