apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token-secret
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:bEEbMQ5euusI+f968rRCe8oOCZ4kadicKCdR3WkasrnrPHB15+sw0A==,iv:cUYTjuMpTjO2CLl71FjEjS/MjoInrh6XN4tbmM0uYGs=,tag:GPOEL3tG1wjAviWKvyg4+w==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1cn79agmdffpagt5de9zg6l4zj64z7evgu86yq8u84r90rndnvpzsnesh46
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBrbk4vcnE5UWcxYy9YQjJa
            Ui84cmpKZWI4TjM1djNHZk9qY1FCS0xYSTE0Cno0dGIwMlNvZ1M4NXZpaFl2THVR
            SzBkMW14K1pMbTc0T2lIZ0I4S2lycW8KLS0tIEkrcjhqZS8rbzFYRERDdVJoMUxz
            TUVUa05vTWxobXlMTlA5eExFMkpudFEKtOxCtBko9OMiztliSN18ZtiicWv6MtOb
            PA3IkuOw7VkAp3wazB5dLXEvj2mxC+1T+8/4NJQPdFSyt4JAkY8tFw==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-24T09:50:03Z"
    mac: ENC[AES256_GCM,data://97CORIb7svtkRSBWk19q+V7o2k7/pJBcGya477cwLxiqVXEoGp/Z0xpTG5KmiwRdv9Odi9n9yt9E1HDydmPT3BOTX2MllIoTUOwkFgUJ5gBvSXgwX1imjwM8+sp7jztdZueLYykh8oor9Z+cxT6m/cbixJwq7pKJ3K0vifG5I=,iv:FpHKQZ926ovUVsMXXUwE3ylAKiZ7rE0LTmZeuBSOD8k=,tag:8QGSnfz840Busk6WB4SwKQ==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
