apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token-secret
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:MId5oxjylIiKlT4pXtwgC6JXPSpMmKZ3hpwgNJHuj8Pz78a1To7DMg==,iv:IJQuNuZeCNuG+GHdIMYpERUf4lBpqCt61AwbVBYIFcg=,tag:bePtzOscWCQLd9+ROk7ydQ==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1cn79agmdffpagt5de9zg6l4zj64z7evgu86yq8u84r90rndnvpzsnesh46
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBoWFBnNjd4aWl2cllEazcw
            dXVxZkFZT01pSWRTblhITVQwSEFQMm1pSERFCjhzaUNMWjVKSVZaSEJiNFc5eE5O
            VTIxbERYQ1NQM0hweW5ibDhVUENpcWsKLS0tIHBRMXo0S0RkOUZYdnRJTGF2MXU2
            NjJNbm9sVWN1NFphTUJDZmJzbVNFTUEK3CYhC7p/Hj4pQ+Dj2V8dxZ5vEKBaIAHP
            gikGrifTE5ltG+JfP5qmTrusbv+NVvNYbesX/ngaDO4uHwzITeoWxA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-24T10:20:53Z"
    mac: ENC[AES256_GCM,data:SDJz70YToz19yFKzBcbwD+0CuPTWko2yUM+RCEl1PEzzIGIMm9fus8B36KEavyIP57JePFM5nWI3lMuDcaXlm327s5BtLqwm3nq8F/qW7R620LjOABuU287Ve9VfKZq/nCwvSaWa0EJTO6Cc+R+aYKSTDvxx6ijqYYA6SrsrHr0=,iv:6fCknd+B8kRtCWRxGjspEwvjZddORm5HLyPcQkxB5PY=,tag:3MA3ai3O7bS5IjixadxNGw==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
