apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token-secret
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:fOa1JjA0JNRa1pu6lIEI66pvoxGEXPM+D3RmAso8ZwlLK/NI4PTg0A==,iv:yMazgHQ/jm00o2j4Xe/7GiEdLNOAI0paHfWPmmAtg1I=,tag:1SGQugFI/HPOZBrEvdldiQ==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1cn79agmdffpagt5de9zg6l4zj64z7evgu86yq8u84r90rndnvpzsnesh46
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBaVUQ2ZlBQcnFFVXJ2M0Ra
            VC96dllPWlNFQ2Z6akdWTTUxQ3B0Q25iWTBZClAvWTFhb1Mzb21uYnV6TWMxa29B
            K2E0bnI5S1lLRFpNeXh3YWpVSlp1b1EKLS0tIG5tb21wNS9ES0FvYWRnWE40VkRP
            MGdIcC9FR1Y0WEZWbVVtM2Zsd2RZU0kKLABVjxH11HjJksrp8AYZHbpl/zjUshMS
            T8tBtQZH5sY57De/E3WYzLWGoGt1YjAVnUFFuY13gtSJrOyEST9guw==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-24T09:12:13Z"
    mac: ENC[AES256_GCM,data:/ejy5blixCfNV+wwHOgZPThXX3cP7P5a+LM9+PGz9iz2AOQjoAsTLVBctofm1kd8cv84Rd4gbtXbQuh4Csy668hhypEEGIJG7EnNHY7rQI2HiY7w07vxlT7sQ4yl/IvnChSYvIIL8h2UVV9J7PXtB/OQ73ffbX72Ggzmx1xj3NM=,iv:zfG5zXXJStsZJ2Qe/QanGKUarQq3TlZmrwnDRPZue84=,tag:3GSYj3tZY+qcKDw8S3RaUQ==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
