apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token-secret
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:nDlVbQCe4odHvfdvhQ1ejYlxboeeRU7iyQWDOW90RM2UAYWQuPml6g==,iv:z3aYLB9AekFPijeFMfgSIyb0TCwaCoFKm/3XVqTMpS4=,tag:mc8gMgZG3SXKO2rze9WziA==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1cn79agmdffpagt5de9zg6l4zj64z7evgu86yq8u84r90rndnvpzsnesh46
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSA1SEMwU0Q4bVVwRmhwK3RF
            Ny9LTlVZVXFrbTdxam9xeWZDM2F6NlVtWlI0CkNYWlJISHdKMVlKS0ViT2h6L2JJ
            NWgzRjNiZmZ1dG5LYTVGZXppQzNnek0KLS0tIGdvS0twS3E2VXRYc1NPRjhxcWxu
            cVFsQnRjdW1xT1RxODRLVzJYc012a1kKJnLkZq8FH9/7xF23OkPXds7VcbPSkwjD
            zSnGD9wTLMlEkN7i4wUXUhYW4KNd8PKoH4/Ll1b10hocpc8pvuoZVQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-23T16:24:10Z"
    mac: ENC[AES256_GCM,data:wTGZ/zbbf1lFmnCVmw4sQIzJLwfAzZt0YSa6egtBERNL/yvyl0gmdoqjfJOErPTv3nuXffNOqAPxnnUmpGKnY4aQRBipfxzmY0UsURpa2LPd075AkDlQ1QB/saMEvYtXAZ6gSPs7+fMKRNW4T/zanDhinsGsZLz9iwdI/Txgaho=,iv:+gqVZ6IIkM71z2XjMl1IA2OkALyEI+Qvci6irsZ7eTw=,tag:46UXfw4yEP45DXaUKpVqcw==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
