apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token-secret
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:VDCio9v8z6H3Q66PfSosNTDyztuMZMIveQ4cPZ6iUGR9soW4ElJX2A==,iv:AlkHuucs80cwjX6nQqmOjP5cCWtpvODVIoNT5/YxL4o=,tag:FgRvY8Z6+fJ0C0LcWwNp+w==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1cn79agmdffpagt5de9zg6l4zj64z7evgu86yq8u84r90rndnvpzsnesh46
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSA1N2R3L2FwUnc1TlZIeEc3
            UFhjdnJraXlYZmxmRDdaZi9YOUNZWlZERGhjCmtGKzVlaFBhYk9MNTlsUEowT0p0
            TEJvSnZPVmdVVXFsWlhmaXVsUU5JQzAKLS0tIFkxUis0YUpVTmJ2dUo3Ujhjbnh6
            MTB3SjF6L1g3RjN1UEkvcCtZWEZ0bUEKmvvEcAq+o/c7tXqiNEnKzu+eSIiItIyR
            8pffUru0byCSiYXdcSChvoGORHybThSgGztM/hrCWq6UPjW7TTKojQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-24T09:39:05Z"
    mac: ENC[AES256_GCM,data:4iU3UyXLtKdcEs2Cv97AZU0lPgaUoEGH/FrOnkIoc0qj2qlbE7pIlqSrBLLXLRBYm8wkZl0xtW33B127ZxWm9kvfwH0L8/p+GgNSsINvmAoLkyJYuH6I38rE6lJNoobKs7JbK4mtTZdCBUJfEYrtWqwVG4o0/L3V9LS8RVJa/Yo=,iv:8DCJXWJZX1XhLkUAL73YafA8mK/2caMj9zk2EvF0UDo=,tag:wBJm6Pi53iymR9CKn8zG2g==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
