apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token-secret
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:1E69WpxdoCSzQoAkPKlRd4DWZ5iXUNGi4moPeaGTT5ve6bhRakxtsQ==,iv:FocdRm4mp5byF8xQ+Km/u1Zx+SWQ575MgoIJnxHuw4E=,tag:Gj99xMN6BM0Qg8XD5a3kjg==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1cn79agmdffpagt5de9zg6l4zj64z7evgu86yq8u84r90rndnvpzsnesh46
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBPN0hZT2h5RFJTS1VBTmgz
            bTFiWGRMVTB4RVhmQ2FlVFFnNFJMZFlESFU0Ck0rT1RIRlNQOHJUMm5LZy9ZMG00
            TkQ2dDAwbkZaemdJaXlETTA1TnN5ZlUKLS0tIDhIYzJWcnBSMFJVa0REcU9CdjJu
            TkVBQ0NiWkkyYVJub1Q4cCsxUkJzQWMK1BjEMBXrUyAdUGDuI4ROp+dd7ve4Dyhg
            8X3ZpojSo3UXdNUVUzgZUiFEb8ByndWwaGmIpZsmuXVCoqx801gIvw==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-17T23:57:08Z"
    mac: ENC[AES256_GCM,data:NpOIo1zMTK/+uELnSbs5qSl1dMc4dK0laI1kJSdKiga1x7eXe3KI/EVrTO+4GtUNc1EZfnDOaEboy5VicbmG6mJjy7E8TwoHEwlIpHpPNf13UYykg94VlA6hR7GoFG/Wda4/GAqzwHsHO+3H3fk4+i6OhrUOqlaC3omSfFJTqNM=,iv:thj5ox2f2zW0wc0q91PY3VO2RPNPW92fSaZgUJoab+c=,tag:7XdXhol3V7YwSXnMeGxeFA==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
