apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token-secret
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:H85L6Dt8Noc2kWHzyTfBc6kDBD2h0OFcxL9QFi6wK8g1/5pn9mUp0Q==,iv:+hWBhheC71akAe/u5bOEG0C16UPWQ9fQkrFrRtkJ/5k=,tag:fzjMA0BUUSW+12d0SfqPvw==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1cn79agmdffpagt5de9zg6l4zj64z7evgu86yq8u84r90rndnvpzsnesh46
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSAvRXBnaGtuT2l3VVZQYnRE
            WDdhM1NiVHZMYVFZeHpLdFpJTHZVR3Qvbno4ClQyYmJNOWRQMVEvVFplcjFvSmc2
            ZkhLamlVR28yZVd1ZkJqSkd1MldCNUkKLS0tIGt6V3NjR1czb2EvUk9nNDFIdUJm
            VnBjenlPbDZ2NFd0ZVhhNFhMM014VGcKUWs7C0/jU9Y5s5cVr9ncw/wLEfcCFqOD
            43k9htj/XRTzsU67p714DwpRYVSgcf6eTUN4clWaGaUV2WHEcqlS+g==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-02-07T10:36:31Z"
    mac: ENC[AES256_GCM,data:LV8F+8dN3mBcDK1P8pD+BAkonvFkBA+zt/uex8aeyTDkn4bx6r8/Ote61K0oqmpWOPgc7Rf1iYl4QgUoEWUb6HhgY4eOzdAcrnrKkJFxjZ0+QMWHNpA3/DdexHbs68yc8MCIdzaJnOz1erJDH8Cfdz3a5pDcToZyS9zuPYeBhf8=,iv:daC1OiVf5LJ2gZ2p7Zm0CITxEGKL4+H7dRhm1cUz8uk=,tag:DBbGIyekniLTpqADq83glQ==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.11.0
