apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token-secret
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:XMUVaZaz/wT6c3tZ1CAJkpaCg7sWwGY2OudR8xwffk9TKYt0SI/mOg==,iv:xR7S6i1o3UPjdtZARN/lqqSY6RYHoOly+QKI+HBKM+8=,tag:DK0SU51jOQ9yZ8QHMeRORQ==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1cn79agmdffpagt5de9zg6l4zj64z7evgu86yq8u84r90rndnvpzsnesh46
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBFVWR4ejg1bjFEb053b3kz
            MC9KQUg4K0RaUFVCQlNWeWdySXJpNHFZR2g0CjlKam1OMVR0NTQ3VC9qcFlxUUh4
            WFYzLzJMNHFNdmszRDUyYnBDbDY1bUEKLS0tIDVJYnNKM00rTkd6NVpGOTRhK2JP
            aWdiVzhSRUlSMmJTRm15bm1IN0trVW8KEJaZGV1BXzx6T0dF+/CeiiEyME9J8lTt
            DtrfnBc6Xy2N/J66/AqKGPMsZlnJKQEicuo80pO0lLSinV/HaT6soQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-18T08:06:00Z"
    mac: ENC[AES256_GCM,data:XQaR83Ht1qK5MGyopunp0QNdLQqLnoc2D1BnWEqY2O/zyAVc0Rq+h2tRmf4IjYz8nh7hBVUWzyhRKqubWE9g2pkuezzcsHCe7jiNiLaEj/U1BpC8QTq+MISKUBgrt5F4ELTkwzp/KOIP6k88HKVj0uufr2sepdisO4M/NBZBl0k=,iv:CEAhirUSZv55FQHOBLzaEmzgM6off5E+yOhlMYykX8g=,tag:JEw+8Q6X6WuUEzhfymBOkw==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
