apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token-secret
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:cEpxHY0vqSHPpo/wZSjfzaso4Cwa7WGgFA2ITK3CU2+sBfMeDIAN9g==,iv:d8PA3eJdS+j8d4iOJ5PI+LXuljZHkgd4weqJG90ZT8c=,tag:E/4ygMBzdJPN3DDBnVet9A==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1cn79agmdffpagt5de9zg6l4zj64z7evgu86yq8u84r90rndnvpzsnesh46
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBpbmhLZEZxcmdKamRVbTk1
            a2g4aHRBL2FQL1lmdEFnc01TYUlzWWJHSXdJCmtrL1NxaVphUWtZOUp3enF5bUg3
            TmRDa05nZEFpbkE3SVpkNEpXN2hTbTgKLS0tICtxSFE1SllaVVlKQ2RLY3pyS0hR
            VTB3dmZnZXpqWERrZEx3SWRuSS9Fa1kKdYfAZMB3TbViQ6mNcyg9nqlMXvWfOd//
            BbkMHAUnW0oK4ENg6XmuuMbySlJ58CAAB2XptDYH4/NNelBnCH5Wyw==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-23T06:52:01Z"
    mac: ENC[AES256_GCM,data:3rKq+uu7fKyk3m7Cxfzj5jfoH3rRa+tmqD9zYqZtCbSlUY/OUoTzPoWeh4SZ5LTEA5srDnuKtgDF2LSo2sbxYZfJ0fVBCfciBq7eUK0NEQm9HPhGZtOeEneoLZN0nU2tCeuQlWeFCCpfNuzCD1MmQzgrkZKTUHuLczIJGRRrsKw=,iv:7U31ELcF6vdK00/rdud7uDwOxly7XBZahgHT8vnWmc0=,tag:HevCtcxtVjb/5XZyWttW7Q==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
