apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token-secret
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:PoQWsgwNHCT4gHr6Onc9vL0g1R07KWD52vL2AGScaePWuMyxGhXhBA==,iv:BJCVwG5aRf4ZK9W/r13NcMIow3Umnm/esqyD6xuPAvI=,tag:ZDERmS0OwDa9txGYrU8n8A==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1cn79agmdffpagt5de9zg6l4zj64z7evgu86yq8u84r90rndnvpzsnesh46
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBTL1hTN2ZjUmRQNWppMURz
            ZThBUXpqdzF2RGhkbUNYRjk5TkE0L3ZLN0V3CmY1VjZYVWNXZFpPTEpjTXllamhs
            QWRheGtMUUJUVy9zb0lWTVlqYU5EUTAKLS0tIG4wVlovakZTMHB5RmxhMG5uUVJz
            VncwUkJxZDhPZ0pWc2JoQmdmU2VHcVUKB+gi/Q+Sbgc7c7aZoLY0Qa7Y7rQ8q80d
            nMcFk2Dn/0Un5Tc5bE5cnxRatp8z3zDCQaYD/TZlIp4WyUePFMGxlA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-02-05T11:44:15Z"
    mac: ENC[AES256_GCM,data:SWliah7K6OBw2LS+5Kw8stCWiNmXraNertkfVT4oI9KzQO469UeH9TMtFp8OOQiVcnumdV1P6roRFgpn2O4tmjdRjn4b4qtom58sqqJDWKiF3GpFk1xCrbdzEi9pF/kNzD4rf0MqrVyX+G13s2qFgDDSN58yS5v31vW/yIVZe3M=,iv:oeeik2fJwqg7eI1fVAz6iepicItp1r219JquWG6rg+E=,tag:wX5QyHvS2t1/t0fK/NqGLQ==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
