apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token-secret
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:BNr5cV3SNGm6CkAIXHO3XrT3sPpel80kmeQuf+WqpjGugrPgQWUnsA==,iv:BpCh9QvJaihnUi6wn3Bhc43oQicB0S5Tj52Bz+w6XaU=,tag:2HSFpGg5H252GTOt0XLB1w==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1cn79agmdffpagt5de9zg6l4zj64z7evgu86yq8u84r90rndnvpzsnesh46
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBsSGtGcTI5YmVlRElHK1JL
            YThBQy9ISU9nNFJLNEdUOEdYd0tUVUpnbGdBCkI1eEhkRkhzQmluQUdPdGdBM2Nw
            bU9YbGtwaldWOFlpY2E4eUNxQ1ZwbzgKLS0tIHc0amVRdU1ISVNTRDNPVlM1TVA5
            VUNlMkdYNVVtRWJtNzZEK1JTa1E2UjQK9AOf0evRGQm+c2YFUH+qp5qRuCOERFlX
            7TlW/ghLt9NbISNQ+so92QWawlDiIjUtk/vjw/QlVzxSssb4UF7gRw==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-23T16:28:34Z"
    mac: ENC[AES256_GCM,data:MU6qlFa0QosR0rG3DWWSpYUBnMyrQT/DKjSNkeRS9MPeuclsRhjzESiV0ykYW+YqZMoXTJEO+wYTvstJQztE4STenF/9N+oXNSWYmntwEO6gw7q1ih2ycI4w7Bz20Pjuf6Y0HvEOpjIxN30VdwpFUiHDqqJjnSoqgKERTwENXjg=,iv:NruHX0/zR7gqocla1nlLOhRWNlmSgqMaj9/BDF4jSIA=,tag:EhAQIB0MME/Eg9cVx4NQWg==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
