apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token-secret
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:R3noMdwPDldD+68AQH1OnNIuULe/T59pAtfiyt9yaK8BFxKIzwoswA==,iv:IKvAx2ABmqiWj3t2pjbwBOZGM5qqcTULQdVkBNLABmY=,tag:ticjdyOkw8m+/RecyCvNSA==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1cn79agmdffpagt5de9zg6l4zj64z7evgu86yq8u84r90rndnvpzsnesh46
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSA3RENnWGZmMHZDR3JVb2V4
            bGhQMUJ3TmU4d1FmM09XLzhDUTM4M3RDL25rCnZyU3JTWTdOUzRBc24vQzBvWjBR
            Z1p3aDZFSVhBTkVQTjlzc213UDNodWMKLS0tIFFRZFJiY2dyYkFmV0tYbUZRMW1k
            emtoSlpiQ0p4QVN1cndNYkVWSDhPUk0KVr/NGa9pvliVtCpbZYX/NBBKpQo7jhXq
            Gj91sajkvxPqe617/KP9USye7A5OUXwD7UAJBrhyY+xN2MxH86dYuw==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-25T20:42:32Z"
    mac: ENC[AES256_GCM,data:DvaR4VCgbo/zYaz2tEFHesibn7o6OQIVzVFktesEQrUIqegvBbgnhObQupeHUyb+oGhvjvDteqfaymQxboOy+oM2/t8jTOL90j6RlZaDsszlSCHjiUmEu5hGZE9+o2hBbiNuZAnnc3qQb58nGoZ4mSoasSxxyoVHk2q63u9lMm4=,iv:vMZH50UimVyuebupn3t3DvTXg+BPT2DJoWOyf/hNikA=,tag:6OWxPZYWmdQDNFubsFxg1g==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
