apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token-secret
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:K9NlenhbAEIfm3RYmpSVwqRYLvH/87A6GpqTkHW9YWJJEBcnttjy2w==,iv:WW6TJLW4SPrlKyTUGotO19Q3yJgUrKxNiqGB8P8Askw=,tag:p1d83YCrQPYoxXBxY/Z3yw==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1cn79agmdffpagt5de9zg6l4zj64z7evgu86yq8u84r90rndnvpzsnesh46
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBuYjB6bk9uS3VIbGtkNUVr
            TkN2akhpbm9sZWZyWUVNYkhRZ2VmbTNDbER3CnFDWEV6WFNja3Y0WXBoeS9Gc05F
            ckdrM3I1UDFVdWo3TlIyNml6UGZtekkKLS0tIDhjbm92alZEZjlMZkc3cG4zTzhk
            eXBGamZ1WWE1bUhmQ3o2TU5GVXgxaVEKPYPbr8sU1IX1VBM62j2cYw4Nr0xQ5by/
            PHh+MLzXRhStC2Llrg5SsNthdoiBPUeZjbTdu8+tTyQCqCVngh8F5g==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-24T10:13:23Z"
    mac: ENC[AES256_GCM,data:b7m6B8CvyBYOAJbh+HeUFGIlQh6hrIX986Ef1rN4hWJ0A47Wmb7W0oWz+lIdWPqxBxY/aZyGwmzikNh5W8qsbixiPp+mZLnskF3QxDOjg2drZ09KXl2iYOet4nvtbXca8/xEEsL68i0cIhQ5uLide7SLPXNcgEYDElEJ9tTPNw0=,iv:5ZrTr9awwN6aVLLxXPmO5btdH0MvHuEUxWIa/KUc8CM=,tag:WY2hO4zGw0huy0j5WIu4oQ==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
