apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token-secret
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:M1EcfqsSM/+iGadUzzOwGoD6Dy8iwVZ/IFRczJ8nznQyFWzw1sveMQ==,iv:5ioAAPX/pGwtXyduDe2ONviVMlHCJLV+E5g8uNINji4=,tag:WVKXUn94YBAmbGLnfEJ5Bw==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1cn79agmdffpagt5de9zg6l4zj64z7evgu86yq8u84r90rndnvpzsnesh46
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBPemZjRHdtK0lQU1o0Q3VV
            a05WVEczSEIyUTFjR0s1dTFneUdwMHZ0dmxVCmFtNTlDRVV3eFdEMTVaaDBsdW81
            bmxXbDRRSmVrWVVxMko5SWVTQzd1ZVkKLS0tIHBlbm5UT3RqTXdIazRSSzlLbmho
            MGhCc2hQbDRTOTlVVWoxN3I4RW85dVEKiiAIbXTjkAyhlXiIRd7wG1qVs/ybxsfc
            jz0UNsjZyorDSpS3o0qnQ15aZhWrAOBmRfYOrDg1PKBzsb0rqZDJhg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-17T23:01:54Z"
    mac: ENC[AES256_GCM,data:JYRcGSS04GXMuXtnniY3CMvKohvO+unVshWZdYYcddXdfbrofTCEDq2AuYsDTXoHqZ2UgljqKQBhFrJnhaQLuhwLivHjnhXCKBEMXr2nPTUaiEBSMq6Ef5OGP1QOLTWnRueS3pOEoacWmtLA6OfvrFJGcQyBT85QGNvvp1RqJOk=,iv:yOEK9hnucxW5r+i+Sny//7fEfYaZ/rQCt26hlL4kdq0=,tag:Briz0CoAWRNHMguTnTqe7g==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
