apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token-secret
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:AwUhXOz764wOhHWUUAVW3LpY5IpD9J7j6QRXEPUnw7mFT/KUtHaE9w==,iv:slq2yC2LP/Sv9kfNBuX+LP/q8LTzGUYEHz/NMuNntA0=,tag:lS13UPph46Nm3TLZM+YB3g==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1cn79agmdffpagt5de9zg6l4zj64z7evgu86yq8u84r90rndnvpzsnesh46
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBCSWlFZkxXanZrbEhLbDVS
            WVhDQ1M2ejRtR1JQNWlkTVpFcTJqQi9STlM4CitoejJ5d1hJQmhWYkptZ0w5R2RI
            ajU4c2d1bFdxczZwSEN6UXpyOUloTTAKLS0tIC9FcEtJUmZDU3U1QjZBandabWtn
            aG5uSm5TNEUyMUQyc0N1RTZFemN3NjQK5Al9cxhwQ1Joho9RQUf+L/FIZwrLKig0
            7VeviQii1TEI9a8gXuWLf/UUSngK0fsZMlMGiukK4A4z6XmscZiO5Q==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-02-05T08:38:55Z"
    mac: ENC[AES256_GCM,data:d1aKY+yfiAjvyNdaWvLQfAtk70UmYWW63xjdg7/M0j8sHGjXs/Ip0icqrknzXyoSt1PHJ2ENvc4oSm36qR/i/p1ls2d2eDWMDDc+MU1ZNN20r7zpSPz5velzVKO/Dr3/MMst095SC03mAcfd4eSDQswxdXu1NjtOKZGkHOmvBvk=,iv:HcbClqAIc0wncj/llDAPDWMRvUq52S7t6P6UYYqQOGI=,tag:7ahIhaHZbRpMoaxhUnRfzg==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
