apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token-secret
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:BtkTGfdKdTcB3R8Uoi3zVzVTeL4og5Zkni/ClSaVh9qFOYlc2hFwRg==,iv:H9sMR733E4RNhNXEwCPy6KKuWfGEBV5YRhIs5zHNOsA=,tag:WPMps2kDsnnEB26SugtMXA==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1cn79agmdffpagt5de9zg6l4zj64z7evgu86yq8u84r90rndnvpzsnesh46
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBCY29yWkdEc2JaS2VBR3Zs
            ZGI4ZFhEZVAvU1QwVXJEMkczU0F3akpBT1NjClZIUTFGU1JKVkQ0NFc5cGhQSGc1
            bkZsZFlkL3ZGTWdkWW0wKzlJNEZKY0EKLS0tIDUveDhIa1kvWFgyYWxLSlVqbVVa
            Q1cwUE9iOHpiakdXYUpIbUo2RjdsSzgKEoWO9Nuf7N+fTzSteAyFSrw/VLwMxBgX
            an4i2St+N2Qnk3zMFh+wli+5k1hkWyqus/2lgIvzKpkMV+UG7Q1STQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-23T06:54:54Z"
    mac: ENC[AES256_GCM,data:5uXNHgEWL+NoWoJgB3TI8k6Eh0xJLopYZw1OeQUO5O6O8fpFBiJkFu13v7ahTrvfWVjVSuqK9hUzYsao+V8JIjB8QYM9qav2Zu/e2za3FyMrI8o6ybgc0wtke7001qgYpRuIQjwHW1S7iNWdbqCr0n9DvVocMLhJ04Z7myJN1q0=,iv:XdVfaL/9ymDuTOSEQqQ7I6VuLZ8b/ghHAu7930/wJpc=,tag:5eCwwstBSTSZTxJuPgBELA==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
