apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token-secret
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:f+DlYzuPBg2/nRUAxjokxCakd2JRZXyNjzkNQvjpy9vpvx6V9npo+Q==,iv:QyJFecALtWrSP/CO+s52qIfDXVfgoNVmtQbmi58IbEk=,tag:krz2fIe00at9vmC0hVUnaQ==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1cn79agmdffpagt5de9zg6l4zj64z7evgu86yq8u84r90rndnvpzsnesh46
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBhNzg2OGhtajZWM1ZYNDZz
            V3N5c2FkTzRKQXFRbitwQmhuMTBXYUtnTEZNCmlSdTk3UFN0OTAyZGNRMlFvZHl2
            N0Q5SW1WVFZZTWRXcHFQd05odGVLeEUKLS0tIExGbXIvUktDbWd5UmFic2VEdk9M
            S1ovb0VrdDdtWkpmemFPR1FWYzZydUEKgOdQh1RQH8aVzsyR6j+Katxzf93kLhBI
            KbFK4hKJVhAKrDTWGG7k7Q0DrbPaazyL/6yf3Bigc6JPGUpbCfwtEg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-17T21:53:06Z"
    mac: ENC[AES256_GCM,data:A1nJ1Qu/5EGiKzhHLxbS9UOm18CkKwS2Evlvh0/Vd9NbrMzQXWLKnr2LO7l9FRv6/VxlT0MuCvV/gIGSGPpP/eRe/9gRflVfzn8XalaFHkz+7ujBXQf8CBgmNblqIRcxcsQESUE0u/9taMP3EaPwUlRBuxtYpqzKZuoTz9Qepwg=,iv:TI1kjAjN4IYcqxQBGFN3ycefjuvKdU8WsPKlBnbV5Cw=,tag:E4pYnIebiDwcP7vxCf9VfQ==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
