apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token-secret
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:/cRUKOm0pRZuljHIEfVM14lxGXHrHyl0chukydzjYE5asCCZDHrRyQ==,iv:C4oRnS9QHbWBglV8OWOvktC2naJPHtZ47Jtt2BB9/fE=,tag:hmX+oDM5ecwrI8fHoxXIHQ==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1cn79agmdffpagt5de9zg6l4zj64z7evgu86yq8u84r90rndnvpzsnesh46
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBLUHBWRjV3SHpmakswbkVI
            UnVmNDFFWHVnSEF4dm9KNWhWbGcraERMSDBVCjdDZlBZVWVMaEpvNVZOT1lGekFM
            RFJHa0xIY2ZJMUM2ckthaXRCa0M0Z00KLS0tIDdnOFdLVTRZQ3h1WWhEM0laeE9Q
            dnNvMm9waTc3TkowYkl3bUVKK203VzAKI+aGMg9Gok8jLiLLLeO/ScNYKl66tjcX
            sD6oFIThTDKyRY/YgHASANrH7kp1PWBHCgVKCIqqC1ZNmg91aS6feg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-19T19:52:04Z"
    mac: ENC[AES256_GCM,data:IKxSg2+0xeF/YRjD7+CCyVgc810fwzSjdYIHb8lT0x1Gvg2u5vhlJ4iG2FEDX6DhcxRvqDVbddCRsI9gMqdd6rMJntQ4UtJ5uL02Q0hTZLCL/hOLccpKIM/PZlrNa7YFIa5619tv4BroX7SmhSljrb1zA3j/4S2ckUe0TjMQl3M=,iv:1/xNH17eypmgpcw34ydEvKQ7RPKcrARDFT/j5xKOfk0=,tag:HOkPxYpxSMjarOFA5lU1Zw==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
