apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token-secret
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:GEqK+6SXY9/qbey1U7O8Oa7kyfzntj0MlGubIbTUmJ63A6Wc9VWmGQ==,iv:R/9wd5bh2fsBCtXEORxSRQ6BEH3HGiIqPV0YeyPwqKw=,tag:9tM7Yo7vvv8Bp72NAHzUgQ==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1cn79agmdffpagt5de9zg6l4zj64z7evgu86yq8u84r90rndnvpzsnesh46
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBrTndvUkx1MjdSakRXT0Nu
            V2wxYmZwamwrTDIwY0tkVU1RY1JPcnl0cUY4CjkzRVl6Zi9FR1hoaGVsZlZLdldF
            NFloU1FRWjcrYlFwQ0dXVVVET2VFa0UKLS0tIE5NOW1Fc0p4dWhZUzZ1cmJ5OWNq
            MWtyZ0toYkl2ZG55cXA0RmJ1b01GNzQK5DZYf0OZVXY2J/erj8APB74u3MO2RtwZ
            IwnPC0Vs49yVo//Mh8TrzM3tAxXSFvdMItPbZXpx7dTEN0KJXapqAg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-23T12:58:16Z"
    mac: ENC[AES256_GCM,data:4hiwFHvZTwnI2JQ2WAZjhMqVm8TlRbCWifVQTYnsaXxE5gYrCHIQHbk0+2sR+Q5c9Elm0zuRpZIkHbdfcTexMPtWkdT5rvEcs4WIaLcgey0UluvoQNEU6jBdisvR639FL1hMB64/uAeF69N9PbfeOLs+WoORYZFZzY2tXzHc8Zg=,iv:DOMiNKfHvElLp6hfP65dah83naqO1qSuXPN6sFyo4IE=,tag:QEUmdlHTlOBW7sly3j9A1Q==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
