apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token-secret
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:pXxyd+KtkCeKrLBSZwiLsnlt5psK4Z4FQXG7rUQoEAVXEFRKk8ES5g==,iv:IsdGTQQxgfn3VISqxXE5g0BMwDbHO23IhQGiI8UkNUg=,tag:UVeIG0SvYfxOTrK3QDHj+w==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1cn79agmdffpagt5de9zg6l4zj64z7evgu86yq8u84r90rndnvpzsnesh46
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBoU0Zrc051blJrR3dZZ3RF
            N3B4MGVwaWsrNmo2d3FOUkNiSTJXMmlrQTNrCmZ4VFBMM3UzenAyZmhuOEdIclNK
            YWEzK1ZENGFJeXlxRTdZaUdIZnNvbFEKLS0tIGtnR3VhYldEZFdkM09oODBMUTZS
            SngvaG14eXJzWVovdzB4N0RWcVRrN0UKMW+ukMPThagJykKnrdT8cGxx1UK2lCTM
            kn5KOn05a/wO4rdPsY1mj8Vycxawno82L2hVLpUJtQjiZKcXdOqchA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-25T22:02:17Z"
    mac: ENC[AES256_GCM,data:tn0CkjD/quGfmvP6BnAU1QbNDYCpcCjWR1GLxzadsUIvzN1K3TrdoJuhLa3gQOae/yWbaF/fkXrcUBdd64uWwHSkt4is36aCXEE9MsLBsRZ6NfecWLAkkT90SkEi8ff/9k003fKQYTOP9vwtX4agkixfChJ+1dIZBnLf4Om/6ZE=,iv:+vdUMDHRh+2HUtCA/aEpctKpR/bGD/PzqAkeboYjxSA=,tag:DIk5hHAsTEQ04u4BkfgLOw==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
