apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token-secret
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:DB8hrU63DMIy0cQil2JH3yLOra6pe45/HcLY5UXtKKC/JxlR9/rmhA==,iv:2xRIkJ2X2WNbrpXWF584+4jD2gjlavtLhV3FoTZNdKc=,tag:NCOdHCqM58OHDmg++DoBbw==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1cn79agmdffpagt5de9zg6l4zj64z7evgu86yq8u84r90rndnvpzsnesh46
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBQdWxwaE5GZ0hYMEJOaU9W
            eHZhUmJjNDJxZVBCU2ZveFNaeEVKYlVxMUdJCjVmZUptL1hkV2NmSHN4RnBCR0V5
            UCtvRGtucDAybHkvMXNKaWtCT2NFdUkKLS0tIG1KdkFNTTRqb3lzZ2hSNlIzaXpa
            UFBSdDBtRzBZWU1kQ3A0RVBObi9hYTQKAlg+CjYupAe3o3h7LyzTOsTJrl8YYnZb
            bypu1qJ4Q0Zo03V/K/DYEXWSEEO9GUvO6XIZADPaBtzJyeo0ZcKIVA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-24T09:30:53Z"
    mac: ENC[AES256_GCM,data:+y8y07dgjBvvEiytaGvN9BBcCDLI0KvwquQsX4Nqk8r0veOC1gP4yLfv1kHb3NArkejuroPk8cfbm0uGpoaCc1/lGEi7ympGkFCm/D0QluQMolKG6FxGXBtn5+iUOHSgDF9Yt2268sgvm9/6ij6z9wvK1Rdxx5GxMoMW0jsW4Ho=,iv:yKasub3SxFib6U3lGnQzl8jBYnzqmbe19n92EnXp/bs=,tag:yTfbC7E3BSye2OOoS04PiQ==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
