apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token-secret
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:++GHokooBymCoR0lDFCY7JFZmiuAeLkqK1uR/YV83PRJxVXx4E/DXA==,iv:A+eKQgTvwZdxQ1vmNovtD5TBMMXcbaHJRc3Hv4hjfVs=,tag:kSTOdZZAkn7tvKAgzxSVOw==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1cn79agmdffpagt5de9zg6l4zj64z7evgu86yq8u84r90rndnvpzsnesh46
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSArSkE3ZFFWV3BtMFIwcTNE
            bERMSS9jZUxCZ00ydWVkbFdqeFpBbldWREVNCmt2c2h1c0lCa2RQc09IeE52L3hz
            cDdIUmpBaGNlOEx4TG1HNE9VNTVGWWsKLS0tIEFjMVFqeHBGeFRwTW44RXlBK3Vs
            ZG0rWGZ0ejlJYWFiTURjMmNON1dxMTQK146PfSjuiLDrJMaOz04saUOYVVB3wtVo
            GvjJjP+XKQywRvzrPcMpA6M7sIS7ajrmCNzGoCwnm88anrrU4O4p1A==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-04T07:53:07Z"
    mac: ENC[AES256_GCM,data:SuqcOAjCkYXClU0aNeV35Rkte/iP2cEciZzA75swuwCuv2goKBrBskT43Bw36L8/BckPmY/KtT9/7htfJWIQt1YWIvjyB0JTDBBBim4hvJQyqPeF759cvRAM1yNu5un/RypkUcGkKxQ/Q+6ZB6yOOTKO6dNJrLadH0gpqtAVHk0=,iv:fvWAZINjzqjO9dCypWyZga51iGqmLG4I3caEAoSzSRc=,tag:RDDD0OUvjEc+BuAov32IoQ==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
