apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token-secret
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:ox/ehg+ba5hdNhtTU8w2hwEox1QNOBWQaZg4yS1ql2q/AxwHsG3mBw==,iv:xpb/9rlaWHiHFDdT1zgusUmz/tAvuqCncB6AS/HVtQo=,tag:U/6ZP/usgBvkIV4pKu90ug==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1cn79agmdffpagt5de9zg6l4zj64z7evgu86yq8u84r90rndnvpzsnesh46
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBuTDVlQzloMVRZZVdWV0Ja
            T0ZyL09HaEdSeTJtWjFhbUplRkxqditJVVVJCmxvQkRwNEZnZXorNjJvNjNiRnFp
            bW4wUDI0L3VuYk0vc1RPdXB5ZHdlclUKLS0tIHhwWFlPaVRjNnpXR3Z2TVo3eFdQ
            bmZ6WnNmL2xKV1RQSGhMSDF3ZDlZYTgKy2iEqeCIxGZHunV5meroUHvHSJp7rYwp
            bTHMaacQyisVu3aEFnwmGDf4AauQKvS4DSoZi35/H9S0ZS0VGxNU5Q==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-17T22:44:45Z"
    mac: ENC[AES256_GCM,data:LtH4GGo/CBF32B30ActaU/dExyU+yvMepE5jAAaCvpe7VpkWXWqbQA6Q/OkGB4s3Qtvv2a1bnAk1N8nKUmdPpHwLeHQRNivyji1ntMXIVSR6qOk4fNbSzOMW9e47aNHsV5dQVVkBlJZDbDvrgmAB8UqFnJZ7LJ3rT1OuCaWvaow=,iv:MBuv+xqDNMYBogN4b8aDvyRq8RpjE/vopf42Fbx9SaQ=,tag:LnZ6FVZomSW/lOtSXHFqPQ==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
