apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token-secret
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:XwZbF6RESifFqDrMOa5K5iqmSjC9qeiP0HtWPkCFMJg4gJSKaKP+IQ==,iv:Y3QDXji/ryWEVzVMr+ENcwxpbo5XXsV4Q8vrJsGqyOA=,tag:L+ubR6+y/dTTD2/kONQEdg==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1cn79agmdffpagt5de9zg6l4zj64z7evgu86yq8u84r90rndnvpzsnesh46
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBOZDdsR1pNZmlGLytXN1E4
            TlhwOXRGY3dORFFkQ3RDNTJzcEtDcWM2QWk4CmFQaUxaR2dUL1MrRXpIQVRRb3g5
            YXVRaDVBY0RJVXY0eWZ4WHp0bkJ2Q3cKLS0tIEdhamdoRlhGZHh2Ly9rTEFtNkdT
            SmVobEM4L25EcEtmNVZUNTlvWnljeDgKXBd5Jg1tCdfbSJiNa1LXFfVhtUDfci9y
            SCy0ehKBqBBVms1E4/XyFu5nnI1m3Ap6+cCgAByUZjwVuNzN15Z7MQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-22T18:42:10Z"
    mac: ENC[AES256_GCM,data:HpFWrPbm4IHybDs37C9aNr0jdomrYFvQ2Lfu74pk4C0npnFJt9lhG6RF0EPb4vybNAHgph7HHxkfhu3QOedvKZC6oPO/bC49vFN7QoDrPt/OEEwQisfUhHLwfdynbJjbd/ty9d9m96GCdFvDAoM7Euqo1qX9LmXr7G/bhqlnP88=,iv:iHeOXfb6vrr1G1+Byh3JqJxA/eOtbajDQ1f3fjina6I=,tag:UYXp/W0eNK04iVsQ8Rvqiw==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
