apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token-secret
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:0DG1McrTZTcAA2iBizR+fkFq84sQCZ/l3twPAisFgc99ba0w8bO5Cw==,iv:b8xx6rGzq91+ujNVVT61W4bDFbjCIJdZxOofySB0er8=,tag:bWzYuQBRr+EL+bs2FmKL2A==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1cn79agmdffpagt5de9zg6l4zj64z7evgu86yq8u84r90rndnvpzsnesh46
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB6cFNYbllDL1MwUWkwMFds
            RFVLaWxacWlKUG1BSjFwcDVQUlByZUUwZUdVCmtSSE0wYUFPN0Y3WjRiUitMVXBZ
            NUtOUU9KNXhwWm9VcTRocUNBb0pnRTQKLS0tIE8xaTIxYkVtQitEQkVkc3RZelJt
            c2xtK013UktUU0xOYXE4OHdVT0Z3NVUKW1lTdd6n5RBgdXOUxVDDM+1Bl8ywU6x4
            CsS/KxItPcObha48yiLOtDDfADreUe2AImi9I4WiLMD+FVP9rR6OtA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-15T07:34:48Z"
    mac: ENC[AES256_GCM,data:NHBf8rK9adMN5+cpkdZBagEeABWrJEXPjUvAyykToJneCAsBvd7m8HxsYw2kjCbXcZeFD4XWVO74OjHN5Q6SndMh+P1rX9Cv1L69xNQJdm8ofnLWyJT3Ftlaa5ClAjoxWLyhbScWx+amoa0BulTEiv7KlLdk+ADsx/320LntzEk=,iv:/Yfd9dw3QBzdiBpX3ajAeKGhvsHVio80cnBOYbeCqFg=,tag:LtlarU4Y64w4asdmnkOK8g==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
