apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token-secret
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:FDNEhsqg20unEM2i80bN4NgJnBcv5iKjGJePubTS1NuyYH9wH52z5Q==,iv:kqAbgv9EVHE5T71QAErZeZLjD32XKLRTMVNHzlCSK98=,tag:IH/VCUoCry493+wUA68gIg==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1cn79agmdffpagt5de9zg6l4zj64z7evgu86yq8u84r90rndnvpzsnesh46
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB6WG96Z0hPV1dkOEZOc1lQ
            R011RGFsQktvT292QS9kYXorMmF1cFB2dUdNCjIyU2Fvd3dEWXpXamVkNlZVWi9P
            V2h6WmUraWplVDA1ZHlOYVd0Yk54bm8KLS0tIGpvaUtGc284MXkxdHJOZldacDVo
            eWs3TjMxZWdEb1R4d1FqK2ZoY1g0a1UKpfihpbSWMBNDl4o/LaTdPDg4dve4XNz0
            /BpHnIfhzW6uWJ6jPr6oJRcXGXp45YZIvn6UMM8xwjbARnBiktZb7A==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-24T09:19:08Z"
    mac: ENC[AES256_GCM,data:IzSIEZ79Ki0fbaimV1/9NFv59ch/3wGOEl/WVvRUEDiFY3IAlQsUJ5al1eyMT2T2J94mlwptX8dQuR6ZXlVH9A/2/LzGTg8i8T19ZYtgpb8Qh2sGOUv9ZtdbYPm59ccSCcOeIJu9tW5Gh9+mHYLfcQw0QaKgAVJdPRlDPZl4Oso=,iv:7dhHpJTZQ46AKDvm7Nnk+HHeNmxZmGaIb1BrgDPNUpg=,tag:bu6sgVML4ZXXN4QYfsyrNw==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
