apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token-secret
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:2U03h7/Dg8GlAmIwU/D1wtJ2IRZWhpRm9FJUPHryWRw/mxNTI1dVAw==,iv:mCyRz0dKh0+3ZLcI5ymb6MWdeyQdMhrfey8eeMstWDQ=,tag:qxhrngKbSVcm8UJpuxHoEg==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1cn79agmdffpagt5de9zg6l4zj64z7evgu86yq8u84r90rndnvpzsnesh46
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB0c2RLejZoakNxMVVpTDBZ
            TmFXcGxESHphU3J6blpjMXBndEZlc2FWckNZCkZWdmlOVGdpSm5lckRYVlNIam1H
            L29sYVppV0ZrWFNQZlBBT1pVblpuTmMKLS0tIE1oUmFVTGkxYmdUend3VmhoUnJC
            YlN4Ykh3MW1JQWRIV21yNUVGcVBFSEEKFQc3ovHVWGLumG7Prn6bRR9HtG+M5wgU
            TSFCcIxkBELWjkoYZX3XJHpjarIXuGK7O7RyJJr/72nGeCZr13Cnig==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-25T20:49:31Z"
    mac: ENC[AES256_GCM,data:oKqkD7s2pR/qakCj8zq+Eak5SKOerGHAcIPtnGPWgPTnhex2rcA7m4dhhXXD6SFj/ptlhhOqfc3Lcaggnpvyey9DpJmcTM5dbYJTsw+3FTKgTww2BCEn8/1ddvvyNQ6Od8IzrHeC9NzSYIL66pzlG+Hb1aDuKqfhf8Sl5FpRTWM=,iv:WXYW5ZPNGm6ZfAHUeFCuDPZy4vwoS5ZQQvLmMcPRC04=,tag:qPfXY1pZUUAETL1ZID/C6Q==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
