apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token-secret
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:dV5aUrAprbL1RzVnNWxdQ9VSDsKDF3JFRbag+BylFs1dQonyJoL5eQ==,iv:3kIaPJvpkUjJU4XaZQYwR/PJSCKmP2hmFzQWp+Bhu+Y=,tag:BkwRtsEzYwZNGwyJ7hBjwA==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1cn79agmdffpagt5de9zg6l4zj64z7evgu86yq8u84r90rndnvpzsnesh46
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBOQ2xTQUV0enVCczJ0S09B
            NlhFZ1hkUFd4OVJYU2l6OFNWL3Iwd2pvV1hjCm1QMmcrUTJyb1ZRbzNCb3Q4NS9T
            Zk1GSFg0UHdiZ2dwZVk4ZERKWXJmVHcKLS0tIDhsY0pFNlZacG9uc0I0b0lpaW1I
            OWt4MDNnSVE5S3daVW9adnV5bkUveGcKKnp+0KfO5ylQ+9EDU3g8r8HQmhTOPDFN
            aXct/BMLJNtIvJ7Lr/Q//sPXrQX24GbXJrioUqysYWw7JaMhz/S49A==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-24T06:52:22Z"
    mac: ENC[AES256_GCM,data:r3aoP5RowhgnaX8ey5hSyZ1fOZ136RzGr9pu9kdYe+pw9pMURUDxWgCl4PyOYDQQr/JfKKbw5x8HiKkF0ySDGRJmDGII2kXQPsP/t7/8d6iNuo34jLaYsWhEOoImvDhPOu5GK31wcaBGybr3zK8L/9MsvKGxwVpSVYRigF8X/pQ=,iv:pqL+nFhDANG6Tu81vnk4sfQVxOk6aJ4rbAMiB/uTBNI=,tag:V1xJnOVPQDdDZRSShugCfw==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
