apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token-secret
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:VPNdKIEwIJyhn+wv6EISFEzMxWx0PZZx/sboajgBYSUciFdbLx+P1A==,iv:bDM+ASnqHmFiMxjocaNFKF0x+Frr9UxKOLQxY4skgb4=,tag:EbmHkOh+zLhLfDOwEy6ybQ==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1cn79agmdffpagt5de9zg6l4zj64z7evgu86yq8u84r90rndnvpzsnesh46
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBTR0E3WEZBbHFtZ3lFMWdR
            MlN2NkdmR1dSakNPNzU1VElmdTNFemxnY1VvCmZtUUlIUWdwRGlXSzV5Y0xwaEV2
            RU9kR2RXQjJoem4vYjdha0VXTFhCcFUKLS0tIHFHMDZPc25VYW5lcDIySElIeTVt
            N2ZrZTN1ellINTBicHFzUFJYZ2tFRTQKrP32SeCS2cd20eKBsJudFVwv6YDET4xl
            0hfTVp6Kd9EcF/C1jgYhrXcP2dzOp91e9fkJyV25v6XqDKYYg2K5qQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-24T09:54:14Z"
    mac: ENC[AES256_GCM,data:0TIn7RLa7fFf5RwHZOQwlZQhwZlzgqm2BQ7vx20B4VCM8kXO2dZcBKcO1XQylgfNTcJoZxElScT1zhKsfIN00Ki3+An4s+WkGKq67tP64157kfzsBRFXip/zV2ey8P6GMZnz+dt7x17wvZZwxV9D2mx+maL6OUYR5p/sBILPqik=,iv:xjVdKOUrih2DZiUv6n75cPLL75Axib3aFwN3Z45ajeU=,tag:Cx+l9K0ZdtK+HAJhI0z8cw==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
