apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token-secret
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:9JJAnU4FSq/icf8TghDLwTJyKVdcDjC25tn+VP36BrweXRMUBV6m+w==,iv:CM5xcfCJUMMVePwtLj4neTlTu4N7bvNXaq+YdQvd3P8=,tag:rOWsIyeuYee8o2lb+YtwkQ==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1cn79agmdffpagt5de9zg6l4zj64z7evgu86yq8u84r90rndnvpzsnesh46
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSA3amRuN0l1T2FpNzBEQzRO
            WnZ4QWRpL2l1eXlmdlh3UktCNmtzbjFXZ1FnCk9zd09OWk9sQUZpZzR1WFBNSjVQ
            eDB6Skx3Q2ZKUllrd0d1dGd2dDhEYTgKLS0tIDlwdCszWDdXMHNZOVlCSVFjbnU3
            eEdrRlN6eEFLNVlrd1Ixd2ZkQlVmWjgKMi0PN5corCTnNmCBtiAlx7w7sw3amYgh
            X2AXbX6JqHKFOGevGDRMaB1cg45dDqYMIAidm7h8ObLOBSE0U0686A==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-29T07:31:29Z"
    mac: ENC[AES256_GCM,data:W2gzxGuJnqGz6QxipenuyuyaTJGWxUaJoekLjV05mDtQBhQarV9dNx/HrsI48+nT4ZAQp/1s+cnmXlQZA0/3qxqPmstrbp6nxNWEI4lrm19S8SS8hXGtA79vI1d7p6G9Ysp947ekP7Y90DsJmzwujZaTyxijpWLLiur88zFZkXE=,iv:tUtMsndNHJQ+sKIUC+s+VEBaMF89sPK/hskPZJisirc=,tag:ryeQjdccjwagn60Vwp3PUg==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
