apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token-secret
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:ELyFCJNiAB3ATjqq7MDr6DTQ4DrB2IgJWa4w4wg5+K+MK9lKxHi3MA==,iv:DTO1RbelG4tMFPEJFTn8CtO1UcPDlGQhkx+p2emk1qM=,tag:CGMh9abOpIo45JbzRRZMkQ==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1cn79agmdffpagt5de9zg6l4zj64z7evgu86yq8u84r90rndnvpzsnesh46
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBBcVZ0NFBLUkJ3aVBraVJB
            YmQ1OVMveVlNTE84SFVVaXdESEg5SndhS2dzCnZjb1Izc2JhNmFxTWM2Y2h0Qkp5
            MGRPQ29COWFwUXgzK1BFd2lRSHgvelkKLS0tIGRVc2E4RlNLQWNmVS90TXVxU0cx
            aHdhSFlOZzI0K0ZIc0VtTUZRd2lyNXMKpfaVyQFVSZ6GwmHbkRphCTOWorQF97wg
            3LEnH8QUT50tidkCO7WIlTwrJtcTMzHUu0RM7vLvx8S1HX/cki6DBw==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-24T07:34:19Z"
    mac: ENC[AES256_GCM,data:5u40/FtlLctAwWFozZrzRQV+V5eR0GAq7SOuQCoepORTus/XplzMWJTqaPu4MBjt++oXmQWTbKErAqK1kDt5x5c6eXFelDYgsryGp+ndtYYAtAN/x+pJ1YaGm4gz4TTrB+yeO//0yRMyEmbqVX24bkTdV8KbcaU4vcnm28hlcFA=,iv:5HyVl0tOdwA5zInpVjMBUiWG1OQ7zdpMiKFpovUyH40=,tag:xrHQ8gvtuaet+Twige/+hQ==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
