apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token-secret
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:NET1xU6a+pAkIKoIwh2E/XK8YImHX63K95lvdB1VIEYYAQTSMTLi9A==,iv:weWoiEfoc/xSHLEHGyRpZW9apQQKPXcKWG8q8dMMc28=,tag:KZNnwuqn7XlhL5keuVKSkQ==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1cn79agmdffpagt5de9zg6l4zj64z7evgu86yq8u84r90rndnvpzsnesh46
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB6K243TjU3N0tZb2V0Z05r
            Y3Q2U2RWYWdxRjB0TEdXSkZVU2RLWWc1ZWdrClBJZStsRTVQbUxGY3FHSEFyaHdW
            dHNQeFIwMnQ0VGdZaEZxaVFuS0NNSFEKLS0tIFhtdUJGQW93OE1OUXlYNlFOSjhJ
            Tm9kUG5YZ1lKYVQrWGd4aGoyam9hT1kKO9Dsy+J8EbQgSCUHC4PLp5F0TTDgX35Z
            uond8lThg4A5pWWAGixIPCpEzkwCe4G8urkzcZNC1mFImP8Mo3g/tA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-17T22:54:53Z"
    mac: ENC[AES256_GCM,data:zBS5JWKSes7agDaOcBXtszkega2ubMg9BtNf+RxbmJ5qYsUkxQSIFGkn3G6Ro7HGSScJCrcxnrx02BuBU9lmFj9Vdp7ZQm2dc/DQFgJuKOLJFAhZsh4H1cIsMmpAD7vf08jmplUXOMfeQxc5DRIYULp6i1iIWqGDM7ncYCLhy74=,iv:QeI/rvmIgGDkHFsG/YkPpTAkH9eme0LC38rmLwPLdZ0=,tag:tOgLDNskd2AP7OKCsSesFw==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
