apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token-secret
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:Y9u9++TmTVw9KMkBq6gTWnwVZoAFc/MnH1Aeo6J741TgVJLuXKR/rA==,iv:q4VperCWXXon8v1SKQC9nSWOZIsnRGtbESeRIRHsHO0=,tag:89iMqozArUD+oCJWwDrzDA==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1cn79agmdffpagt5de9zg6l4zj64z7evgu86yq8u84r90rndnvpzsnesh46
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBrbXVzanhWYUFHNGdTbXVH
            TjFBR2pWOHpDa01TZ1NjL3UwWm5yY3BPMWxzCm53MlJ3NSt4TzV2blZQR3l0UlVz
            UGFhVmMyZys4enM2THRDb1dyblJxM1UKLS0tIHY5eDJvWUFNd0V4aVBZdjBZQ1BX
            WCthQmlHenlIK0Z2TmR1dTVLTlhxcHcKZdr0OVCd0HpnRY7Jk//njck90fpdO5G7
            u4+KbnFAora69/lO4yWF3cpd1TjgdmwPEs3EmYb9RUlht+7+dVamFQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-23T13:05:55Z"
    mac: ENC[AES256_GCM,data:HQ6RwuJzGTSIfaVXvmUPwm9NWn2EswykYPxeA6+ekuYwW/Ph9S9tST4FR7skks2SUi0Qv4msKEFKmm/2iuj+IPkpdDT2f9+eFLZqG/fRCV4XB/vswkfh5zHsFzWPO11qEtJPJdio4fVhiYV8bMhbflKS2tAL7fKpweP2D1CWuRQ=,iv:wQCWxkXF0DMCK7uPHcrVybBXsXIXqEdl4dOGtTFDUjc=,tag:4rh7BYpA58FEbBk0tkhEtw==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
