apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: stash
    namespace: media
spec:
    interval: 15m
    chart:
        spec:
            chart: stash
            version: 18.12.2
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: stash
    values:
        credentials:
            minio:
                accessKey: ${MINIO_ACCESSKEY}
                bucket: ${MINIO_BUCKET}
                encrKey: ${MINIO_ENCRKEY}
                secretKey: ${MINIO_SECRETKEY}
                type: s3
                url: ${MINIO_URL}
        ingress:
            main:
                enabled: true
                ingressClassName: internal
                hosts:
                    - host: stash.${DOMAIN_0}
                      paths:
                        - path: /
                          pathType: Prefix
                integrations:
                    homepage:
                        description: ""
                        enabled: true
                        group: Media Player
                        icon: ""
                        name: ""
                        widget:
                            custom:
                                key: ${STASH_HOMEPAGE_KEY}
                            enabled: true
        persistence:
            blobs:
                volsync:
                    - credentials: minio
                      type: restic
                      name: config
                      dest:
                        enabled: true
                      src:
                        enabled: true
                        trigger:
                          schedule: 25 0 * * *
            cache:
                volsync:
                    - credentials: minio
                      type: restic
                      name: config
                      dest:
                        enabled: true
                      src:
                        enabled: true
                        trigger:
                          schedule: 25 0 * * *
            config:
                volsync:
                    - credentials: minio
                      type: restic
                      name: config
                      dest:
                        enabled: true
                      src:
                        enabled: true
                        trigger:
                          schedule: 25 0 * * *
            data:
                volsync:
                    - credentials: minio
                      type: restic
                      name: config
                      dest:
                        enabled: true
                      src:
                        enabled: true
                        trigger:
                          schedule: 25 0 * * *
            generated:
                volsync:
                    - credentials: minio
                      type: restic
                      name: config
                      dest:
                        enabled: true
                      src:
                        enabled: true
                        trigger:
                          schedule: 25 0 * * *
            metadata:
                volsync:
                    - credentials: minio
                      type: restic
                      name: config
                      dest:
                        enabled: true
                      src:
                        enabled: true
                        trigger:
                          schedule: 25 0 * * *
            media:
                enabled: true
                existingClaim: nfs-media-pvc
                mountPath: "/media"
            venv:
                enabled: true
                mountPath: "/venv"
        resources:
            limits:
                cpu: 4000m
                memory: 16Gi
            requests:
                cpu: 500m
                memory: 1000Mi