apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: ghostfolio
    namespace: ghostfolio
spec:
    interval: 15m
    chart:
        spec:
            chart: ghostfolio
            version: 8.72.3
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: ghostfolio
    values:
        credentials:
            s3:
                accessKey: ${BACKUP_S3_ACCESS_KEY}
                bucket: ${BACKUP_S3_BUCKET}
                encrKey: ${BACKUP_RESTIC_PASSWORD}
                secretKey: ${BACKUP_S3_SECRET_KEY}
                type: s3
                url: ${BACKUP_S3_ENDPOINT}
        ingress:
            main:
                enabled: true
                ingressClassName: internal
                hosts:
                    - host: ghostfolio.${DOMAIN_0}
                      paths:
                        - path: /
                          pathType: Prefix
                integrations:
                    homepage:
                        description: ""
                        enabled: true
                        group: Finance
                        icon: ""
                        name: ""
                        widget:
                            custom:
                                key: ${GHOSTFOLIO_HOMEPAGE_APIKEY}
                            enabled: true
        workload:
            main:
                podSpec:
                    containers:
                        main:
                            env:
                                ALPHA_VANTAGE_API_KEY: ${GHOSTFOLIO_ALPHA_VANTAGE_API_KEY}
        cnpg:
            main:
                password: ${CNPG_PASSWORD}
                mode: recovery
                backups:
                    enabled: true
                    credentials: s3
                    revision: "1"
                recovery:
                    credentials: s3
                    revision: "1"