apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: cloudflareddns
    namespace: cloudflareddns
spec:
    interval: 15m
    chart:
        spec:
            chart: cloudflareddns
            version: 12.14.11
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: cloudflareddns
    values:
        image:
            repository: ghcr.io/hotio/cloudflareddns
            tag: latest@sha256:24eac87c0dd061e23b80f0d9e71aa9d8a1311897091c494e6b351ae7d11071ce
        cloudflareddns:
            api_key: ""
            api_token: ${DOMAIN_0_CLOUDFLARE_TOKEN}
            api_token_zone: ""
            detect_mode: dig-whoami.cloudflare
            detect_override: ""
            host_zone_record:
                - domain: ha.${DOMAIN_0}
                  record: A
                  zone: ${DOMAIN_0}
                - domain: cloud.${DOMAIN_0}
                  record: A
                  zone: ${DOMAIN_0}
                - domain: auth.${DOMAIN_0}
                  record: A
                  zone: ${DOMAIN_0}
                - domain: minecraft.${DOMAIN_0}
                  record: A
                  zone: ${DOMAIN_0}
                - domain: share.${DOMAIN_0}
                  record: A
                  zone: ${DOMAIN_0}
                - domain: flux-webhook.${DOMAIN_0}
                  record: A
                  zone: ${DOMAIN_0}
                - domain: sync.${DOMAIN_0}
                  record: A
                  zone: ${DOMAIN_0}
            interval: 3600
            log_level: 3
            user: ${DOMAIN_0_EMAIL}
        securityContext:
            container:
                runAsNonRoot: false
                readOnlyRootFilesystem: false
                runAsUser: 0
                runAsGroup: 0

