apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: homarr
    namespace: homarr
spec:
    interval: 15m
    chart:
        spec:
            chart: homarr
            version: 14.9.7
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: homarr
    values:
        TZ: Europe/Zurich
        credentials:
            s3:
                accessKey: ${BACKUP_S3_ACCESS_KEY}
                bucket: ${BACKUP_S3_BUCKET}
                encrKey: ${BACKUP_RESTIC_PASSWORD}
                secretKey: ${BACKUP_S3_SECRET_KEY}
                type: s3
                url: ${BACKUP_S3_ENDPOINT}
        ingress:
            main:
                enabled: true
                ingressClassName: internal
                hosts:
                    - host: homarr.${DOMAIN_0}
                      paths:
                        - path: /
                          pathType: Prefix
                annotations:
                    homarr.dev/enabled: "true"
                    homarr.dev/name: Homarr
                    homarr.dev/group: Infra
                    homarr.dev/icon: homarr
                integrations:
                    nginx:
                        enabled: true
                        auth:
                            type: "authelia"
                            internalHost: "authelia.authelia.svc.cluster.local:9091"
                            externalHost: "auth.${DOMAIN_0}"
                                # Can be left default in most cases
                            responseHeaders: []
        persistence:
            appdata:
                volsync:
                    - credentials: s3
                      type: restic
                      name: config
                      dest:
                        enabled: false
                      src:
                        enabled: true
                        trigger:
                          schedule: 5 0 * * *
        workload:
            main:
                podSpec:
                    containers:
                        main:
                            env:
                                SECRET_ENCRYPTION_KEY: "${HOMARR_ENC_KEY}"