apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: plex
    namespace: media
spec:
    interval: 15m
    chart:
        spec:
            chart: plex
            version: 20.12.2
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: plex
    values:
        global:
            stopAll: false
        credentials:
            minio:
                accessKey: ${MINIO_ACCESSKEY}
                bucket: ${MINIO_BUCKET}
                encrKey: ${MINIO_ENCRKEY}
                secretKey: ${MINIO_SECRETKEY}
                type: s3
                url: ${MINIO_URL}
        service:
            main:   
                type: LoadBalancer
                loadBalancerIP:  ${PLEX_IP}
        ingress:
            main:
                enabled: true
                ingressClassName: internal
                hosts:
                    - host: plex.${DOMAIN_0}
                      paths:
                        - path: /
                          pathType: Prefix
                integrations:
                    homepage:
                        description: ""
                        enabled: true
                        group: Media Player
                        icon: ""
                        name: ""
                        widget:
                            custom:
                                key: ${PLEX_HOMEPAGE_KEY}
                            enabled: true
        persistence:
            config:
                mountPath: /config
                volsync:
                    - credentials: minio
                      type: restic
                      name: config
                      dest:
                        enabled: true
                        cacheCapacity: 20Gi
                      src:
                        enabled: true
                        cacheCapacity: 20Gi
                        trigger:
                          schedule: 0 1 * * *
            media:
                enabled: true
                existingClaim: nfs-media-pvc
                mountPath: "/media"
        plex:
            serverIP: ${PLEX_IP}
            requireHTTPS: false
        workload:
            main:
                podSpec:
                    containers:
                        main:
                            env:
                                PLEX_CLAIM: ${PLEX_CLAIM_TOKEN}
        addons:
            codeserver:
                enabled: true
                ingress:
                    enabled: true
                    hosts:
                      - host: plex-codeserver.${DOMAIN_0}