apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: plex
    namespace: media
spec:
    interval: 15m
    chart:
        spec:
            chart: plex
            version: 21.2.18
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: plex
    values:
        global:
            stopAll: false
        credentials:
            s3:
                accessKey: ${BACKUP_S3_ACCESS_KEY}
                bucket: ${BACKUP_S3_BUCKET}
                encrKey: ${BACKUP_RESTIC_PASSWORD}
                secretKey: ${BACKUP_S3_SECRET_KEY}
                type: s3
                url: ${BACKUP_S3_ENDPOINT}
        service:
            main:   
                type: LoadBalancer
                annotations:
                      metallb.io/loadBalancerIPs:  ${PLEX_IP}
        ingress:
            main:
                enabled: true
                ingressClassName: internal
                hosts:
                    - host: plex.${DOMAIN_0}
                      paths:
                        - path: /
                          pathType: Prefix
                integrations:
                    homepage:
                        description: ""
                        enabled: true
                        group: Media Player
                        icon: ""
                        name: ""
                        widget:
                            custom:
                                key: ${PLEX_HOMEPAGE_KEY}
                            enabled: true
        persistence:
            config:
                mountPath: /config
                volsync:
                    - credentials: s3
                      type: restic
                      name: config
                      dest:
                        enabled: true
                        cacheCapacity: 20Gi
                      src:
                        enabled: true
                        cacheCapacity: 20Gi
                        trigger:
                          schedule: 0 1 * * *
            media:
                enabled: true
                existingClaim: nfs-media-pvc
                mountPath: "/media"
        plex:
            serverIP: ${PLEX_IP}
            requireHTTPS: false
        workload:
            main:
                podSpec:
                    containers:
                        main:
                            env:
                                PLEX_CLAIM: ${PLEX_CLAIM_TOKEN}
        addons:
            codeserver:
                enabled: true
                ingress:
                    enabled: true
                    hosts:
                      - host: plex-codeserver.${DOMAIN_0}