apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: mealie
    namespace: mealie
spec:
    interval: 15m
    chart:
        spec:
            chart: mealie
            version: 26.17.0
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: mealie
    values:
        credentials:
            minio:
                accessKey: ${MINIO_ACCESSKEY}
                bucket: ${MINIO_BUCKET}
                encrKey: ${MINIO_ENCRKEY}
                secretKey: ${MINIO_SECRETKEY}
                type: s3
                url: ${MINIO_URL}
        ingress:
            main:
                enabled: true
                ingressClassName: internal
                hosts:
                    - host: food.${DOMAIN_0}
                      paths:
                        - path: /
                          pathType: Prefix
                integrations:
                    homepage:
                        description: ""
                        enabled: true
                        group: Other
                        icon: ""
                        name: ""
                        widget:
                            custom:
                                key: ${MEALIE_HOMEPAGE_KEY}
                            enabled: true
        persistence:
            data:
                volsync:
                    - credentials: minio
                      type: restic
                      name: config
                      dest:
                        enabled: true
                      src:
                        enabled: true
                        trigger:
                          schedule: 10 0 * * *
        cnpg:
            main:
                password: ${CNPG_PASSWORD}
                mode: recovery
                backups:
                    enabled: true
                    credentials: minio
                    revision: "3"
                recovery:
                    credentials: minio
                    revision: "2"
        workload:  
            main:
                podSpec:
                    containers:
                        main:
                            env:
                                OPENAI_BASE_URL: https://api.openai.com/v1
                                OPENAI_API_KEY: ${OPENAI_API_KEY}
                                #OPENAI_BASE_URL: http://ollama-api.ollama:11434/v1
                                #OPENAI_API_KEY: filler
                                #OPENAI_MODEL: gemma3:4b
                                #OPENAI_REQUEST_TIMEOUT: 600 #doesn't work
                                OIDC_AUTH_ENABLED: true
                                OIDC_SIGNUP_ENABLED: true
                                OIDC_CONFIGURATION_URL: https://auth.${DOMAIN_0}/.well-known/openid-configuration
                                OIDC_CLIENT_ID: mealie
                                OIDC_CLIENT_SECRET: ${OIDC_MEALIE_INSECURE_SECRET}
                                OIDC_AUTO_REDIRECT: false
                                OIDC_ADMIN_GROUP: mealie-admins
                                OIDC_USER_GROUP: mealie-users