apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: mealie
    namespace: mealie
spec:
    interval: 15m
    chart:
        spec:
            chart: mealie
            version: 26.21.7
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: mealie
    values:
        credentials:
            s3:
                accessKey: ${BACKUP_S3_ACCESS_KEY}
                bucket: ${BACKUP_S3_BUCKET}
                encrKey: ${BACKUP_RESTIC_PASSWORD}
                secretKey: ${BACKUP_S3_SECRET_KEY}
                type: s3
                url: ${BACKUP_S3_ENDPOINT}
        ingress:
            main:
                enabled: true
                ingressClassName: internal
                hosts:
                    - host: food.${DOMAIN_0}
                      paths:
                        - path: /
                          pathType: Prefix
                integrations:
                    homepage:
                        description: ""
                        enabled: true
                        group: Other
                        icon: ""
                        name: ""
                        widget:
                            custom:
                                key: ${MEALIE_HOMEPAGE_KEY}
                            enabled: true
        persistence:
            data:
                volsync:
                    - credentials: s3
                      type: restic
                      name: config
                      dest:
                        enabled: true
                      src:
                        enabled: true
                        trigger:
                          schedule: 10 0 * * *
        cnpg:
            main:
                password: ${CNPG_PASSWORD}
                mode: recovery
                backups:
                    enabled: true
                    credentials: s3
                    revision: "1"
                recovery:
                    credentials: s3
                    revision: "1"
        workload:  
            main:
                podSpec:
                    containers:
                        main:
                            env:
                                OPENAI_BASE_URL: https://api.openai.com/v1
                                OPENAI_API_KEY: ${OPENAI_API_KEY}
                                #OPENAI_BASE_URL: http://ollama-api.ollama:11434/v1
                                #OPENAI_API_KEY: filler
                                #OPENAI_MODEL: gemma3:4b
                                #OPENAI_REQUEST_TIMEOUT: 600 #doesn't work
                                OIDC_AUTH_ENABLED: true
                                OIDC_SIGNUP_ENABLED: true
                                OIDC_CONFIGURATION_URL: https://auth.${DOMAIN_0}/.well-known/openid-configuration
                                OIDC_CLIENT_ID: mealie
                                OIDC_CLIENT_SECRET: ${OIDC_MEALIE_INSECURE_SECRET}
                                OIDC_AUTO_REDIRECT: false
                                OIDC_ADMIN_GROUP: mealie-admins
                                OIDC_USER_GROUP: mealie-users