apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: mariadb
    namespace: mariadb
spec:
    interval: 15m
    chart:
        spec:
            chart: mariadb
            version: 17.11.3
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: mariadb
    values:
        service:
          main:
            type: LoadBalancer
            ports:
              main:
                port: 3306
                targetPort: 3306
        credentials:
            s3:
                accessKey: ${BACKUP_S3_ACCESS_KEY}
                bucket: ${BACKUP_S3_BUCKET}
                encrKey: ${BACKUP_RESTIC_PASSWORD}
                secretKey: ${BACKUP_S3_SECRET_KEY}
                type: s3
                url: ${BACKUP_S3_ENDPOINT}
        mariadbDatabase: ${MARIADB_DB}
        mariadbUsername: ${MARIADB_USERNAME}
        password: ${MARIADB_ROOT_PASSWORD}
        rootPassword: ${MARIADB_ROOT_PASSWORD}
        persistence:
            data:
                volsync:
                    - credentials: s3
                      type: restic
                      name: config
                      dest:
                        enabled: true
                      src:
                        enabled: true
                        trigger:
                          schedule: 10 0 * * *
            passinit:
                volsync:
                    - credentials: s3
                      type: restic
                      name: config
                      dest:
                        enabled: true
                      src:
                        enabled: true
                        trigger:
                          schedule: 10 0 * * *
        resources:
            requests:
                memory: 2Gi
            limits:
                memory: 24Gi
        workload:
            main:
                podSpec:
                    containers:
                        main:
                            env:
                                MARIADB_EXTRA_FLAGS: >-
                                  --init-file=/init/passinit.sql
                                  --max-connections=400
                                  --innodb-buffer-pool-size=1024M
                                  --tmp-table-size=64M
                                  --max-heap-table-size=64M
                                  --innodb-strict-mode=OFF
                                #--sql-mode="NO_ENGINE_SUBSTITUTION"
                                #--skip-name-resolve