apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: proxy-router
    namespace: external-apps
spec:
    interval: 15m
    chart:
        spec:
            chart: external-service
            version: 16.14.6
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: proxy-router
    values:
        ingress:
            main:
                enabled: true
                ingressClassName: internal
                hosts:
                    - host: router.${DOMAIN_0}
                      paths:
                        - path: /
                          pathType: Prefix
                integrations:
                    homepage:
                        description: A router is a computer and networking device that forwards data packets between computer networks
                        enabled: true
                        group: Networking
                        icon: router.png
                        name: Router
                        widget:
                            custom:
                                key: ""
                            enabled: false
        service:
            main:
                enabled: true
                type: ExternalIP
                externalIP: ${ROUTER_IP}
                useSlice: false
                ports:
                    main:
                        enabled: true
                        protocol: http
                        port: 80

