apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: megacmd
  namespace: megacmd
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 15.24.40
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  releaseName: megacmd
  values:
    global:
      stopAll: false

    image:
      repository: kosdk/megacmd
      tag: "20240419"
      pullPolicy: IfNotPresent

    service:
      main:
        enabled: false
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                USERNAME: ${MEGA_USER}
                PASSWORD: ${MEGA_PASSWORD}
                MEGACMD: ${MEGA_CMD}
              probes:
                liveness:
                  enabled: false
                readiness:
                  enabled: false
                startup:
                  enabled: false
    persistence:
      config:
        enabled: true
        mountPath: /.megaCmd
        readOnly: false
      data:
        enabled: true
        path: "${MEGACMD_HOSTPATH}"
        mountPath: "/data"
        server: ${TRUENAS_IP}
        type: nfs
